@media screen and (max-width: 1200px) {
	.container {
		padding: 0 15px;
	}
	.cat-row__buttons {
		width: 180px;
	}
	.cat-row__list {
		margin: 0 0 0 190px;
	}
	.search-row .selectric-search-select {
		width: 180px;
	}
	.top-line .container div {
		float: none;
		margin: 0;
	}
	.top-line .container {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		&::before,&::after {
			display: none;
		}
	}
	.search-row .search-input {
		width: calc(100% - 410px);
	}
	.recommend-row,
	.new-row {
		padding-left: 15px;
		padding-right: 15px;
	}
	.horiz-nav.swiper-btn-next {
		right: 0;
	}
	.horiz-nav.swiper-btn-prev {
		left: 0;
	}
	.cart-inner__top {
		padding: 35px 15px 60px;
	}
	.item-row .price-row__bottom .current-value {
		font-size: 21px;
	}
}

@media screen and (max-width: 1024px) {
	.all-wrapper {
		margin-bottom: 0;
	}
	.all-wrapper:after, .site-footer {
		height: auto;
	}
	.site-footer {
		padding-bottom: 20px;
	}
	.site-footer__inner {
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.site-footer__inner-col {
		width: 50%;
		margin-bottom: 10px;
		padding: 0 5px;
	}
	.site-footer .logo {
		padding: 0;
	}
	.site-footer .subscribe-col a.subscribe {
		max-width: 230px;
	}
	.horiz-row .swiper-slide {
		width: 24%;
	}
	.cat__content .horiz-row .swiper-slide {
		width: 32%;
	}
	.cart-success {
		padding-left: 0;
		padding-right: 0;
		&__inner {
			padding-left: 15px;
			padding-right: 15px;
			border-radius: 15px;
		}
	}
	.cart-inner .delivery-col,
	.cart-inner .coupon-col {
		float: none;
		margin: 15px auto 0;
	}
	.cart-inner .coupon-row {
		margin-top: 10px;
	}
	.cart-inner .cart-items__inner .item-heading {
		max-width: 300px;
	}
	.cart-inner .cart-items__inner .cart__items {
		padding: 0 10px;
	}
	.cart-inner .cart-items__inner .actual-price,
	.cart-inner .cart-items__inner .item-heading a {
		font-size: 17px;
	}
	.cart-inner .result-row__inner .calc-col,
	.cart-inner .result-row__inner .result-col {
		width: 50%;
	}
	.cart-inner .result-row__inner .result-col .summ {
		font-size: 34px;
	}
	.cart-inner .payment-row {
		flex-flow: row wrap;
	}
	.cart-inner .payment-row .payment-col {
		width: 48%;
		margin-bottom: 10px;
	}
	.order-page .back {
		left: 0;
		font-size: 14px;
		width: 150px;
	}
	.top-line .container .my-city {
		display: none;
	}
	.cat-row__list>li {
		width: 80px;
	}
	.cat-row__list>li div>a {
		word-wrap: break-word;
		font-size: 12px;
	}
	.logo-row__logo img {
		display: block;
		max-width: 220px;
		height: auto;
		margin-top: 14px;
	}
	.lk-page .lk__menu {
		flex: 0 0 180px;
	}
	.lk-page .lk__menu ul li a {
		padding-left: 15px;
	}
	.lk-page .horiz-row .swiper-slide {
		width: 32%;
	}
	.bonus-tab__inner {
		display: block;
	}
	.bonus-tab__inner .sert-side {
		max-width: 9999px;
		.my-cart {
			display: none;
		}
	}
	.bonus-tab__inner .number-side {
		max-width: 9999px;
	}
	.item-row .content-side .descr-list li {
		margin-left: 25px;
	}
	.item-row .content-side .item-repost .fav-btn a {
		width: 230px;
		font-size: 17px;
	}
	.item-row .content-side .item-repost .fav-btn i {
		margin-left: 12px;
	}
	.item-row .content-side .item-repost .social-col {
		margin-left: 15px;
	}
	.item-row .price-row {
		padding: 20px 10px 68px;
	}
	.item-row .content-side .descr-list {
		margin: 20px 0;
	}
	.item-row .price-row__bottom .current-value {
		font-size: 18px;
	}
	.item-row .price-row .bonuses-row p {
		font-size: 22px;
	}
}

@media screen and (max-width: 900px) {
	.benefits-row {
		flex-flow: row wrap;
	}
	.benefits-row__item {
		width: 50%;
	}
	.hot-row .hot-col {
		width: 50%;
	}
	.hot-row .bonus-cart {
		width: 48%;
	}
	.index-info ul {
		display: block;
		margin: 0;
	}
	.horiz-row .swiper-slide {
		width: 32%;
	}
	.cat__list {
		display: block;
		li {
			width: 100%;
			margin-bottom: 10px;
		}
	}
	.cat__list li p {
		font-size: 22px;
	}
	.cat__content .filter {
		position: fixed;
		left: 0;
		left: -210px;
		top: 0;
		height: 100%;
		z-index: 9999;
		padding: 0;
		border-radius: 0px;
		transition: left .3s ease-in-out;
		.filter-open {
			position: absolute;
			height: 40px;
			width: 20px;
			background: #00a4df;
			border-top-right-radius: 20px;
			border-bottom-right-radius: 20px;
			top: 50%;
			transform: translateY(-50%);
			right: -17px;
			cursor: pointer;
			&-ico {
				@include sprite($horiz-arr-next);
				display: block;
				margin-top: 12px;
				margin-left: 5px;
			}
			&.active {
				i {
					@include sprite($horiz-arr-prev);
				}
			}
		}
		&.active {
			left: 0;
			transition: left .3s ease-in-out;
			.filter__inner {
				overflow: auto;
			}
		}
		&__inner {
			height: 100%;
			overflow: hidden;
			padding: 25px 20px 40px;
		}
	}
	.cat__content .horiz-row {
		margin-left: 0;
	}
	.cart-success__inner .order-info {
		display: block;
		max-width: 9999px;
	}
	.cart-success__inner h1 {
		padding: 25px 0 45px;
		font-size: 32px;
	}
	.cart-inner .input-wrap {
		display: block;
		label {
			display: block;
			margin-bottom: 15px;
		}
		input {
			width: 100% !important;
			margin-left: 0 !important;
			margin-top: 5px;
		}
	}
	.top-line .favorite-shop {
		display: none;
	}
	.top-nav-wrapper .top-nav {
		max-height: 0px;
		overflow: hidden;
		display: block;
		transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
		text-align: center;
		li {
			display: block;
			margin: 5px 0 15px;
		}
		&.opened {
			max-height: 9999px;
			transition: max-height 2s ease;
		}
	}
	.top-nav-wrapper .top-nav a {
		padding-bottom: 0;
	}
	.top-nav-wrapper {
		padding: 5px 0;
	}
	.top-nav-wrapper .toggle-mobile-nav {
		display: block;
	}
	.logo-row .cart-side__item.social,
	.logo-row .cart-side__item.callback {
		display: none;
	}
	.search-row .selectric-search-select {
		display: none;
	}
	.search-row .search-input {
		border-radius: 20px;
		padding-left: 50px;
		background: url(../img/search.png) left 16px center no-repeat #fff;
		width: calc(100% - 240px);
	}
	.cat-row__buttons {
		float: none;
		width: 100%;
		text-align: center;
		.cat-row__button {
			display: inline-block;
			margin: 0 15px;
			padding: 0 15px;
			font-size: 17px;
			border-bottom-right-radius: 0px;
			border-bottom-left-radius: 0px;
		}
	}
	.cat-row__list {
		margin: 0;
	}
	.cat-row__list.active {
		display: block;
		background: #fff;
		border-radius: 15px;
		padding: 15px;
	}
	.cat-row__list>li {
		min-height: 1px;
		display: inline-block;
		width: auto;
		box-shadow: none;
		border-radius: 0px;
		background: transparent;
		margin: 0 15px;
		.sub-menu {
			display: none;
		}
		i {
			display: none;
		}
		div {
			position: static;
			height: auto;
			padding: 0;
			max-height: 9999px;
			border-radius: 0px;
		}
	}
	.cat-row__list>li div>a {
		font-size: 15px;
		text-decoration: underline;
		padding: 5px 0;
	}
	.cat-row__list>li:hover div {
		background: none;
		box-shadow: none;
		a {
			color: #0072bc;
			font-weight: 400;
		}
	}
	.cat-row__button.active, 
	.cat-row__button:hover {
		box-shadow: none;
	}
	.lk-page {
		display: block;
		padding: 20px 0;
		.lk__menu {
			border: none;
			margin-bottom: 20px;
			border-bottom: 1px solid #ff738d;
			padding-bottom: 10px;
		}
	}
	.lk-page .lk__menu ul li {
		margin-bottom: 5px;
		text-align: center;
	}
	.cat__content+.pagination-wrap {
		margin-left: 0;
	}
	.item-row .slider-side,
	.item-row .content-side {
		float: none;
		max-width: 100%;
		width: 100%;
	}
	.item-row .item-slider .swiper-slide {
		height: auto;
		padding: 35px 25px;
	}
	.item-row .item-slider .swiper-slide .full-link {
		position: static;
	}
	.item-row .item-slider .swiper-slide .zoom {
		display: none;
	}
	.item-row .item-slider .swiper-slide .discount {
		top: 0;
		padding: 0 15px;
		font-size: 20px;
		height: 34px;
		line-height: 38px;
	}
	.item-row .item-slider .swiper-slide .to-fav {
		top: 5px;
		right: 5px;
	}
	.item-row .item-slider__thumbs {
		margin-top: 10px;
	}
	.item-row .content-side {
		padding-left: 0px;
	}
	.item-tabs__inner .all-chars {
		float: none;
		width: 100%;
		max-width: 9999px;
	}
	.item-tabs__inner {
		padding: 50px 0 0;
	}
	.item-tabs__inner .all-descr {
		float: none;
		width: 100%;
		margin-top: 30px;
	}
	.item-tabs .tabs-title li a {
		height: 42px;
		padding: 0 20px;
		line-height: 44px;
		font-size: 17px;
	}
	.item-tabs .tabs-title li:after {
		top: 82px;
	}
	.history-tab table {
		min-width: 500px;
	}
	.actual-orders,
	.passed-orders {
		overflow-x: auto;
	}


}

@media screen and (max-width: 768px) {
	.discount-row {
		display: block;
	}
	.discount-row__slider {
		width: 100%;
		margin-bottom: 15px;
	}
	.discount-row__img {
		margin: 0;
		width: 100%;
	}
	.delivery .single-content {
		background: #fff;
		padding-left: 15px;
		padding-right: 15px;
	}
	.single-content,
	.page-description {
		padding-left: 15px;
		padding-right: 15px;
	}
	.club__row .card-col {
		float: none;
		position: absolute;
		right: 0;
		bottom: 0;
	}
	.club__row .content-col {
		margin-right: 0;
	}
	.club__row {
		padding-bottom: 290px;
		position: relative;
	}
	.sert__row {
		margin-top: 20px;
		position: relative;
		padding-bottom: 350px;
	}
	.sert__row .content-col {
		margin-left: 0;
		padding-top: 0;
	}
	.sert__row .sert-col {
		float: none;
		position: absolute;
		left: 0;
		bottom: 0;
	}
	.cart-inner .cart-items__inner .item-heading a {
		font-size: 13px;
	}
	.cart-inner .cart-items__inner .table-heading {
		margin-bottom: 5px;
	}
	.cart-inner .cart-items__inner .cart__items {
		padding: 0 5px;
	}
	.cart-inner .cart-items__inner .old-price {
		font-size: 12px;
	}
	.cart-inner .cart-items__inner .count-inner {
		min-width: 60px;
	}
	.cart-inner .cart-items__inner .item-delete a {
		width: 26px;
		height: 26px;
		margin: auto;
	}
	.cart-inner .cart-items__inner .cart__items:not(.item-heading, .item-delete) {
		width: 90px;
	}
	.cart-inner .result-row__inner .result-col .summ {
		font-size: 24px;
	}
	.cart-inner .result-row__inner .result-col {
		padding-left: 15px;
	}
	.cart-inner .result-row__inner .calc-col .inner {
		margin-right: 40px;
	}
	.personal-tab-col {
		display: block;
		margin: 0 0 15px;
		text-align: center;
	}
	.personal-tab-col .choose-photo {
		margin: 0 auto;
	}
	.history-tab table td, 
	.history-tab table th {
		padding: 8px;
		font-size: 11px;
	}
	.history-tab table .btn {
		max-width: 65px;
		font-size: 11px;
		padding: 0 5px;
		width: auto;
	}

	.history-tab table tr td:first-child,
	.history-tab table tr td:nth-child(2) {
		font-size: 8px;
	}
	// .history-tab table tr td:nth-child(2),
	// .history-tab table tr th:nth-child(2) {
	// 	display: none;
	// }

}

@media screen and (max-width: 650px) {
	.benefits-row {
		margin-bottom: 0;
	}
	.recommend-row h2,
	.new-row h2,
	.related-posts h2,
	.single-content+h2 {
		font-size: 35px;
		margin: 35px 0 10px;
	}
	.hot-row {
		display: block;
	} 
	.hot-row .hot-col {
		width: 100%;
	}
	.hot-row .hot-col h2 {
		font-size: 30px;
	}
	.hot-row .bonus-cart {
		width: 100%;
		margin: 15px 0 0;
	}
	.hot-row .bonus-cart {
		padding-bottom: 30px;
	}
	.index-info {
		margin-bottom: 15px;
		padding: 15px 15px 40px;
	}
	.index-info ul li:after {
		top: 9px;
		transform: none;
	}
	.social-col li {
		margin-left: 5px;
	}
	.site-footer .footer-nav ul {
		column-count: 1;
	}
	.site-footer .subscribe-col a.subscribe {
		min-width: 0px;
	}
	.site-footer .logo img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	.site-footer {
		background: #009fd9;
	}
	.interesting__list li:nth-child(odd),
	.interesting__list li:nth-child(even) {
		justify-content: center;
	}
	.interesting__list li {
		padding: 20px;
	}
	.interesting__list li .inner a {
		margin: auto;
		max-width: 220px;
		width: 100%;
	}
	.interesting__list li .inner {
		text-align: center;
	}
	.interesting__list li .inner .heading {
		font-size: 45px;
	}
	.breadcrumbs .page-title {
		font-size: 25px;
	}
	.interesting-cat__list li, 
	.related__list li {
		width: 48%;
	}
	.pagination-wrap a, 
	.pagination-wrap span {
		margin: 0 3px;
		font-size: 13px;
	}
	.pagination-wrap .pagination-arr {
		padding: 5px;
		font-size: 13px;
	}
	.single-content img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	.about-top {
		background: #fff;
		padding: 20px 15px;
	}
	.contacts .row .col {
		width: 100%;
	}
	.contacts .row .tel a {
		display: block;
	}
	.horiz-row .swiper-slide {
		width: 48%;
	}
	.cart-inner .cart-items__inner .actual-price, 
	.cart-inner .cart-items__inner .item-heading a {
		font-size: 12px;
	}
	.cart-inner .cart-items__inner .count-inner input {
		font-size: 10px;
	}
	.cart-inner .cart-items__inner .item-delete a {
		border-width: 2px;
	}
	.cart-inner .result-row__inner .calc-col:after {
		display: none;
	}
	.cart-inner .result-row__inner {
		display: block;
	}
	.cart-inner .result-row__inner .calc-col, 
	.cart-inner .result-row__inner .result-col,
	.cart-inner .result-row__inner .calc-col .inner {
		width: 100%;
		float: none;
	}
	.cart-inner .result-row__inner .calc-col .inner {
		padding-left: 15px;
	}
	.cart-inner .result-row__inner .result-col .heading {
		margin: 5px 0;
	}
	.cart-inner .delivery-col label {
		display: block;
		margin-bottom: 10px;
	}
	.cart-inner .delivery-col input:checked+label:after {
		display: none;
	}
	.cart-inner .payment-row {
		display: block;
		.payment-col {
			width: 100%;
		}
	}
	.cart-inner .payment-row label span {
		height: auto;
		padding: 5px 10px 5px 35px;
	}
	.order-page .back {
		position: static;
		display: block;
		margin: 25px auto 0;
	}
	.order-page .result-row {
		padding-bottom: 15px;
	}
	.logo-row .cart-side__item {
		margin-left: 0;
	}
	.logo-row .cart-side__item.my-cart .heading,
	.logo-row .cart-side__item.bonuses .heading {
		font-size: 12px;
	}
	.logo-row .cart-side__item.my-cart {
		padding: 10px;
		height: 75px;
	}
	.logo-row .cart-side__item.my-cart .view-more,
	.logo-row .cart-side__item.bonuses .view-more {
		font-size: 12px;
	}
	.logo-row .cart-side__item.my-cart span.price {
		padding-bottom: 3px;
	}
	.logo-row .cart-side__item.bonuses {
		padding: 10px 10px 0;
		height: 75px;
	}
	.logo-row .cart-side__item.bonuses .number {
		padding: 13px 0 5px;
	}
	.search-row .search-btn {
		width: 180px;
	}
	.search-row .search-input {
		width: calc(100% - 200px);
	}
	.childs input[type=text],
	.childs .selectric-wrapper {
		display: block;
		width: 100%;
		margin: 0 0 10px;
	}
	.childs .selectric {
		margin: 0;
	}
	.childs .selectric-items {
		left: 0;
	}
	.lk-page .horiz-row .swiper-slide {
		width: 48%;
	}
	.bonus-tab__inner .number-side table {
		table-layout: auto;
	}
	.bonus-tab__inner .number-side table td:first-child {
		width: 60px;
	}
	.cat__content .horiz-row .swiper-slide {
		width: 48%;
	}
	.item-row .content-side .descr-list li {
		margin: 0 0 10px;
		display: block;
	}
	.item-row .content-side .item-repost > li {
		display: block;
		margin: 0 0 10px;
		&.fav-btn {
			margin-bottom: 20px;
		}
	}
	.item-row .content-side .item-repost {
		margin: 0 0 20px;
	}
	.item-row .price-row__bottom input[type=submit] {
		float: none;
		margin: 20px auto 0;
		display: block;
	}
	.price-row__bottom {
		text-align: center;
	}
	.item-row .price-row {
		padding: 20px 10px 55px;
	}
	.item-row .price-row .bonuses-row p {
		font-size: 17px;
		line-height: 19px;
		text-align: center;
	}
	.item-row .price-row .bonuses-row {
		padding-left: 0;
		height: auto;
		padding: 15px 0;
	}
	.item-row .price-row__bottom input[type=text] {
		margin: 0 4px;
	}
	.item-row .price-row__bottom .current-price {
		margin-right: 4px;
	}
	.item-row .price-row__bottom .all-price {
		margin-left: 4px;
	}
	.item-row .price-row__bottom .current-value {
		font-size: 15px;
		padding-top: 20px;
	}
	.item-tabs .tabs-title li a {
		font-size: 15px;
		padding: 0 10px;
		height: 32px;
		line-height: 34px;
	}
	.item-tabs .tabs-title li:after {
		top: 72px;
	}
	.item-tabs__inner .review-tab .comment-form__item {
		display: block;
		margin: 0 0 15px;
		text-align: left;
	}
	::-webkit-scrollbar {
	    -webkit-appearance: none;
	}

	::-webkit-scrollbar:vertical {
	    width: 12px;
	}

	::-webkit-scrollbar:horizontal {
	    height: 8px;
	}

	::-webkit-scrollbar-thumb {
	    background-color: rgba(0, 0, 0, .4);
	    border-radius: 10px;
	    border: 2px solid #ffffff;
	}

	::-webkit-scrollbar-track {
	    border-radius: 10px;  
	    background-color: #ffffff; 
	}
	.history-tab .actual-orders table,
	.history-tab .passed-orders table {
		margin-bottom: 20px;
	}
	.history-tab .passed-orders .heading {
		margin-top: 20px;
	}
}

@media screen and (max-width: 480px) {
	.horiz-row .buy, 
	.horiz-slider .buy {
		visibility: visible;
		opacity: 1;
	}
	.horiz-row .swiper-slide, 
	.horiz-slider .swiper-slide {
		box-shadow: none;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}
	.benefits-row__item {
		width: 100%;
	}
	.hot-row .hot-col {
		padding: 30px;
	}
	.hot-row .bonus-cart .heading {
		font-size: 28px;
		line-height: 30px;
	}
	.hot-row .bonus-cart {
		padding-top: 275px;
		padding-bottom: 60px;
	}
	.site-footer__inner-col {
		width: 100%;
	}
	.interesting__list li .inner .heading {
		font-size: 30px;
	}
	.interesting-cat__list li, 
	.related__list li {
		width: 100%;
	}
	.pagination-wrap .pagination-arr {
		display: block;
		margin: 10px 0;
	}
	.contacts .row a.receive {
		font-size: 14px;
	}
	.horiz-row .swiper-slide {
		width: 100%;
		margin-bottom: 50px;
	}
	.brands-row {
		margin-top: 20px;
	}
	.cart-success .back-to-cat {
		font-size: 20px;
	}
	.cart-inner .cart-items__inner {
		display: block;
		.cart__items {
			display: block;
			width: 100% !important;
			border: none;
			max-width: 9999px;
			text-align: center;
			margin-bottom: 10px;
		}
	}
	.cart-inner .cart-items__inner .item-img .img-wrap {
		border: none;
	}
	.cart-inner .cart-items__inner .table-heading {
		margin-bottom: 0;
	}
	.cart-inner .cart-items__inner .count-inner {
		max-width: 100px;
		margin: auto;
	}
	.cart-inner .cart-items__inner .item-delete a {
		margin: 10px auto 0;
	}
	.cart-inner .cart-items__inner .actual-price,
	.cart-inner .cart-items__inner .old-price,
	.cart-inner .cart-items__inner .count-inner input, 
	.cart-inner .cart-items__inner .item-heading a {
		font-size: 15px;
	}
	.cart-inner .delivery-col p.heading,
	.cart-inner .coupon-col p.heading {
		font-size: 17px;
	}
	.cart-inner .delivery-col input[type=text] {
		width: 160px;
	}
	.cart-inner .delivery-col .date-icon {
		margin-left: 15px;
	}
	.cart-inner .delivery-col .when,
	.cart-inner .delivery-col .inp-wrap {
		padding-left: 15px;
	}
	.cart-inner .delivery-col .delivery-txt {
		padding: 0 15px;
	}
	.cart-inner .coupon-col {
		padding: 0 15px 10px;
	}
	.cart-inner .coupon-col input {
		display: block;
		margin-bottom: 10px;
	}
	.cart-inner .payment-row .bonuses-col input {
		display: block;
		width: 100%;
		margin-bottom: 5px;
	}
	.cart-inner .payment-row .bonuses-col p.heading {
		margin: 0 0 10px;
		padding-top: 10px;
	}
	.search-row .search-btn {
		width: 95px;
	}
	.search-row .search-input {
		width: calc(100% - 100px);
	}
	.lk-page .horiz-row .swiper-slide {
		width: 100%;
	}
	.bonus-tab__inner .number-side table a {
		width: 70px;
		font-size: 11px;
	}
	.bonus-tab__inner .number-side table td,
	.bonus-tab__inner .number-side table th {
		font-size: 12px;
	}
	.cat-row__buttons {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		.cat-row__button {
			margin: 0;
		}
	}
	.cat-row__list.active {
		border-top-left-radius: 0px;
	}
	.logo-row__logo {
		float: none;
		img {
			margin: 0 auto 10px;
		}
	}
	.logo-row .cart-side {
		float: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
	.logo-row .cart-side__item {
		width: 150px;
	}
	.cat-row__list>li div>a {
		text-align: left;
	}
	.cat-row__buttons {
		justify-content: flex-start;
	}
	.cat__content .horiz-row .swiper-slide {
		width: 100%;
	}
	.item-tabs .tabs-title li {
		display: block;
		margin-bottom: 5px;
	}
	.item-tabs .tabs-title li:after {
		top: 160px;
	}
	.item-tabs .tabs-title li a {
		border-radius: 15px;
	}
	.item-tabs {
		padding-top: 20px;
	}
	.item-tabs__inner .in-stock-tab ul li {
		display: block;
	}
	.item-tabs__inner .in-stock-tab ul li span {
		display: block;
		height: auto;
	}
	.item-tabs__inner .in-stock-tab ul li span.in-stock {
		float: none;
	}
	.item-tabs__inner .all-chars ul li {
		padding-bottom: 5px;
	}
	.item-tabs__inner .all-chars ul span {
		float: none;
		display: block;
		margin-top: 5px;
	}
	.item-tabs__inner .review-tab .comment-list__item .img-side {
		width: 100%;
		float: none;
		img {
			margin: auto;
		}
	}
	.item-tabs__inner .review-tab .comment-list__item .comment-side {
		margin-left: 0;
		margin-top: 15px;
	}


}

@media screen and (max-width: 370px) {
	.cat-row__buttons .cat-row__button {
		padding: 0px;
		font-size: 15px;
		width: 140px;
	}
	.logo-row .cart-side__item {
		width: 140px;
	}

}





































