/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$aksesuar-hover: 140px 0px -140px 0px 38px 38px 260px 260px '../img/sprite.png';
$aksesuar: 140px 42px -140px -42px 38px 38px 260px 260px '../img/sprite.png';
$aksesuari-hover: 140px 84px -140px -84px 31px 42px 260px 260px '../img/sprite.png';
$aksesuari: 0px 178px 0px -178px 31px 42px 260px 260px '../img/sprite.png';
$basket: 182px 150px -182px -150px 23px 23px 260px 260px '../img/sprite.png';
$berem-hover: 88px 138px -88px -138px 43px 32px 260px 260px '../img/sprite.png';
$berem: 135px 138px -135px -138px 43px 32px 260px 260px '../img/sprite.png';
$date-ico: 96px 0px -96px 0px 40px 40px 260px 260px '../img/sprite.png';
$del-item: 65px 224px -65px -224px 13px 13px 260px 260px '../img/sprite.png';
$equal: 0px 243px 0px -243px 17px 17px 260px 260px '../img/sprite.png';
$fb: 228px 37px -228px -37px 31px 32px 260px 260px '../img/sprite.png';
$gift: 228px 0px -228px 0px 32px 33px 260px 260px '../img/sprite.png';
$gigiena-hover: 0px 94px 0px -94px 40px 40px 260px 260px '../img/sprite.png';
$gigiena: 96px 44px -96px -44px 40px 40px 260px 260px '../img/sprite.png';
$gloryes: 44px 94px -44px -94px 47px 33px 260px 260px '../img/sprite.png';
$gplus: 228px 108px -228px -108px 31px 31px 260px 260px '../img/sprite.png';
$heart: 45px 224px -45px -224px 16px 14px 260px 260px '../img/sprite.png';
$home: 24px 224px -24px -224px 17px 15px 260px 260px '../img/sprite.png';
$horiz-arr-next: 56px 243px -56px -243px 10px 17px 260px 260px '../img/sprite.png';
$horiz-arr-prev: 42px 243px -42px -243px 10px 17px 260px 260px '../img/sprite.png';
$incr: 21px 243px -21px -243px 17px 17px 260px 260px '../img/sprite.png';
$inst: 228px 73px -228px -73px 31px 31px 260px 260px '../img/sprite.png';
$item-fav: 190px 178px -190px -178px 28px 29px 260px 260px '../img/sprite.png';
$laktacia-hover: 95px 94px -95px -94px 37px 32px 260px 260px '../img/sprite.png';
$laktacia: 115px 178px -115px -178px 37px 32px 260px 260px '../img/sprite.png';
$odejda-hover: 44px 138px -44px -138px 40px 36px 260px 260px '../img/sprite.png';
$odejda: 0px 138px 0px -138px 40px 36px 260px 260px '../img/sprite.png';
$phone: 0px 224px 0px -224px 20px 15px 260px 260px '../img/sprite.png';
$pitanie-hover: 182px 111px -182px -111px 38px 35px 260px 260px '../img/sprite.png';
$pitanie: 182px 72px -182px -72px 38px 35px 260px 260px '../img/sprite.png';
$podguznik-hover: 182px 0px -182px 0px 42px 32px 260px 260px '../img/sprite.png';
$podguznik: 182px 36px -182px -36px 42px 32px 260px 260px '../img/sprite.png';
$pustishka-hover: 35px 178px -35px -178px 36px 36px 260px 260px '../img/sprite.png';
$pustishka: 75px 178px -75px -178px 36px 36px 260px 260px '../img/sprite.png';
$select-arr: 82px 224px -82px -224px 14px 9px 260px 260px '../img/sprite.png';
$star-active: 156px 178px -156px -178px 30px 30px 260px 260px '../img/sprite.png';
$star: 228px 178px -228px -178px 30px 30px 260px 260px '../img/sprite.png';
$user: 209px 150px -209px -150px 14px 15px 260px 260px '../img/sprite.png';
$vk: 228px 143px -228px -143px 30px 31px 260px 260px '../img/sprite.png';
$ximia-hover: 46px 48px -46px -48px 42px 42px 260px 260px '../img/sprite.png';
$ximia: 0px 48px 0px -48px 42px 42px 260px 260px '../img/sprite.png';
$zoom-active: 48px 0px -48px 0px 44px 44px 260px 260px '../img/sprite.png';
$zoom: 0px 0px 0px 0px 44px 44px 260px 260px '../img/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
