/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
$aksesuar-hover: 140px 0px -140px 0px 38px 38px 273px 258px '../img/sprite.png';
$aksesuar: 140px 42px -140px -42px 38px 38px 273px 258px '../img/sprite.png';
$aksesuari-hover: 140px 84px -140px -84px 31px 42px 273px 258px '../img/sprite.png';
$aksesuari: 0px 178px 0px -178px 31px 42px 273px 258px '../img/sprite.png';
$basket: 228px 171px -228px -171px 23px 23px 273px 258px '../img/sprite.png';
$berem-hover: 88px 138px -88px -138px 43px 32px 273px 258px '../img/sprite.png';
$berem: 135px 138px -135px -138px 43px 32px 273px 258px '../img/sprite.png';
$date-ico: 96px 0px -96px 0px 40px 40px 273px 258px '../img/sprite.png';
$del-item: 41px 224px -41px -224px 13px 13px 273px 258px '../img/sprite.png';
$equal: 182px 150px -182px -150px 17px 17px 273px 258px '../img/sprite.png';
$fb: 156px 178px -156px -178px 31px 32px 273px 258px '../img/sprite.png';
$gigiena-hover: 0px 94px 0px -94px 40px 40px 273px 258px '../img/sprite.png';
$gigiena: 96px 44px -96px -44px 40px 40px 273px 258px '../img/sprite.png';
$gloryes: 44px 94px -44px -94px 47px 33px 273px 258px '../img/sprite.png';
$gplus: 191px 178px -191px -178px 31px 31px 273px 258px '../img/sprite.png';
$heart: 21px 224px -21px -224px 16px 14px 273px 258px '../img/sprite.png';
$home: 0px 224px 0px -224px 17px 15px 273px 258px '../img/sprite.png';
$horiz-arr-next: 263px 0px -263px 0px 10px 17px 273px 258px '../img/sprite.png';
$horiz-arr-prev: 263px 21px -263px -21px 10px 17px 273px 258px '../img/sprite.png';
$incr: 203px 150px -203px -150px 17px 17px 273px 258px '../img/sprite.png';
$inst: 228px 0px -228px 0px 31px 31px 273px 258px '../img/sprite.png';
$item-fav: 228px 138px -228px -138px 28px 29px 273px 258px '../img/sprite.png';
$laktacia-hover: 95px 94px -95px -94px 37px 32px 273px 258px '../img/sprite.png';
$laktacia: 115px 178px -115px -178px 37px 32px 273px 258px '../img/sprite.png';
$odejda-hover: 44px 138px -44px -138px 40px 36px 273px 258px '../img/sprite.png';
$odejda: 0px 138px 0px -138px 40px 36px 273px 258px '../img/sprite.png';
$phone: 228px 198px -228px -198px 20px 15px 273px 258px '../img/sprite.png';
$pitanie-hover: 182px 111px -182px -111px 38px 35px 273px 258px '../img/sprite.png';
$pitanie: 182px 72px -182px -72px 38px 35px 273px 258px '../img/sprite.png';
$podguznik-hover: 182px 36px -182px -36px 42px 32px 273px 258px '../img/sprite.png';
$podguznik: 182px 0px -182px 0px 42px 32px 273px 258px '../img/sprite.png';
$pustishka-hover: 75px 178px -75px -178px 36px 36px 273px 258px '../img/sprite.png';
$pustishka: 35px 178px -35px -178px 36px 36px 273px 258px '../img/sprite.png';
$select-arr: 58px 224px -58px -224px 14px 9px 273px 258px '../img/sprite.png';
$star-active: 228px 70px -228px -70px 30px 30px 273px 258px '../img/sprite.png';
$star: 228px 104px -228px -104px 30px 30px 273px 258px '../img/sprite.png';
$user: 0px 243px 0px -243px 14px 15px 273px 258px '../img/sprite.png';
$vk: 228px 35px -228px -35px 30px 31px 273px 258px '../img/sprite.png';
$ximia-hover: 46px 48px -46px -48px 42px 42px 273px 258px '../img/sprite.png';
$ximia: 0px 48px 0px -48px 42px 42px 273px 258px '../img/sprite.png';
$zoom-active: 48px 0px -48px 0px 44px 44px 273px 258px '../img/sprite.png';
$zoom: 0px 0px 0px 0px 44px 44px 273px 258px '../img/sprite.png';

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}
