@import "_normalize.scss";
@import "_variables.scss";
@import "_sprite.scss";
@import "_selectric.scss";
@import "_swiper.min.scss";
@import "_magnific-popup.scss";

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
    margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption {
    background: #fff;
    border: 1px solid #f0f0f0;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

body {
	background: url(../img/bg.jpg) top center no-repeat;
	background-size: cover;
}
html, body {
  height: 100%;
  font-family: $fontFamily;
}
.all-wrapper {
  min-height: 100%;
  margin-bottom: -246px; 
}
.all-wrapper::after {
  content: "";
  display: block;
}
.site-footer, .all-wrapper::after {
  height: 246px; 
}

.container {
	max-width: 1160px;
	padding: 0 10px;
	margin: auto;
}

//TOP LINE
.top-line {
	background: #fff;
	padding: 20px 0;
	font-size: 17px;
	.container div {
		float: left;
	}
	i {
		display: inline-block;
		margin-right: 12px;
		vertical-align: middle;
		position: relative;
		top: -2px;
	}
	i.home {
		@include sprite($home)
	}
	i.heart {
		@include sprite($heart)
	}
	i.phone {
		@include sprite($phone)
	}
	i.user {
		@include sprite($user)
	}
	div.login-register {
		float: right;
		i {
			
		}
		a {
			color: $linkColor;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		span {
			margin: 0 10px;
			color: $linkColor;
		}
	}
	.favorite-shop {
		margin-right: 100px;
	}
	.favorite-shop, .my-city {
		color: $linkColor;
		a {
			color: #707070;
			text-decoration: none;
			margin-left: 5px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.shop-phone {
		margin-left: 60px;
		a {
			color: $linkColor;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//TOP NAV
.top-nav-wrapper {
	background-color: #ffb400;
	box-shadow: 0 2px 0 #ff9600, inset  0  5px 5px -5px rgba(0, 0, 0, .4);
	padding: 16px 0;
	.toggle-mobile-nav {
		display: none;
	}
	.top-nav {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		a {
			text-transform: uppercase;
			font-size: 16px;
			color: #fffbc2;
			text-decoration: none;
			border-bottom: 2px solid transparent;
			padding-bottom: 3px;
			@media screen and (max-width: 980px) {
				color: red;
			}
		}
		.current-menu-item a,
		a:hover {
			border-color: #fffbc2;
		}
	}
}

//LOGO LINE
.logo-row {
	padding: 30px 0 25px;
	&__logo {
		float: left;
	}
	.cart-side {
		float: right;
		&__item {
			display: inline-block;
			vertical-align: top;
			margin-left: 10px;
			&:first-child {
				margin-left: 0;
			}
			&.callback {
				font-size: 17px;
				color: #fff;
				font-family: 'bsansbold';
				text-decoration: none;
				width: 106px;
				padding: 15px;
				text-align: center;
				background-color: #92de00;
				border-radius: 15px;
				box-shadow: 0 2px 0 #6ba301;
				position: relative;
				line-height: 21px;
				transition: all .3s ease-in-out;
				outline: 0;
				&:hover {
					background-color: #88cc06;
				}
				span {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					background: url(../img/phone-big.png) center center no-repeat;
				}
			}
			&.social {
				background-color: white;
				border-radius: 15px;
				box-shadow: 0 2px 0 #dad9d9;
				padding: 15px;
				margin-right: 40px;
				p.heading {
					font-size: 15px;
					color: $linkColor;
					margin: 0 0 5px;
					font-size: 15px;
					font-family: 'bsansbold';
				}
				ul {
					list-style-type: none;
					margin: 0;
					padding: 0;
					display: flex;
					flex-flow: row nowrap;
					justify-content: space-between;
					a {
						display: block;
						width: 35px;
						height: 35px;
						&:hover {
							opacity: .8;
						}
					}
					.vk a {
						@include sprite($vk);
					}
					.fb a {
						@include sprite($fb);
					}
					.inst a {
						@include sprite($inst);
					}
					.gplus a {
						@include sprite($gplus);
					}
				}
			}
			&.bonuses {
				background-color: #ffb400;
				border-radius: 15px;
				box-shadow: 0 2px 0 #ff9600;
				padding: 15px 15px 10px 15px;
				position: relative;
				transition: all .3s ease-in-out;
				&:hover {
					background-color: #eaa705;
				}
				.heading {
					font-size: 15px;
					font-family: 'bsansbold';
					margin: 0;
					color: #fff;
				}
				.number {
					font-size: 24px;
					display: block;
					color: #fff;
					font-family: 'bsanslight';
					padding: 15px 0;
					border-bottom: 1px solid #fff;
				}
				.view-more {
					display: block;
					color: #fff;
					text-decoration: none;
					font-family: 'bsanslight';
					text-transform: uppercase;
					margin-top: 10px;
					text-align: center;
				}
				.bg {
					background: url(../img/bonus-bg.png) center center no-repeat;
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
				}
			}
			&.my-cart {
				position: relative;
				background-color: #ff738d;
				border-radius: 15px;
				box-shadow: 0 2px 0 #e94b68;
				padding: 15px;
				transition: all .3s ease-in-out;
				&:hover {
					background-color: #ee6c84;
				}
				.bg {
					position: absolute;
					width: 100%;
					height: 100%;
					left: 0;
					top: 0;
					background: url(../img/cart-bg.png) center center no-repeat;
				}
				.heading {
					font-size: 15px;
					font-family: 'bsansbold';
					color: #fff;
					text-align: center;
					margin: 0 0 10px;
				}
				span {
					display: block;
					margin-bottom: 5px;
					color: #fff;
					font-size: 14px;

				}
			}
		}
	}
}

//SEARCH ROW

.search-row {
	.selectric-search-select {
		width: 220px;
		float: left;
	}
	.selectric {
		background-color: #ffb400;
		border-radius: 20px 5px 5px 20px;
		box-shadow: 2px 0 0 #ff9600;
		height: 40px;
		border: none;
		padding-left: 40px;
		transition: all .3s ease-in-out;
		
		&:hover {
			background-color: #e7a506;
		}
		.label {
			color: #fff;
			font-size: 19px;
			margin: 0;
			line-height: 43px;
		}
		.button {
			font-size: 0px;
			@include sprite($select-arr);
			line-height: 0;
			left: 15px;
			right: auto;
			top: 50%;
			transform: translateY(-50%);
			&::after {
				display: none;
			}
		}
	}
	.selectric-items {
		border: none;
		left: 2px;
	}
	.selectric-items li {
		background: #ffb400;
		border-bottom: 1px solid #fff;
		color: #fff;
		font-size: 15px;
		&:hover {
			background-color: #e7a506;
		}
	}
	.search-input {
		height: 40px;
		display: inline-block;
		border: none;
		outline: none;
		padding-left: 70px;
		background: url(../img/search.png) left 28px center no-repeat #fff;
		border-top-right-radius: 20px;
		border-bottom-right-radius: 20px;
		width: calc(100% - 460px);
	}
	.search-btn {
		display: block;
		float: right;
		width: 220px;
		height: 40px;
		background-color: #00a4df;
		border-radius: 20px;
		box-shadow: 0 2px 0 #1180a8;
		transition: all .3s ease-in-out;
		outline: none;
		border: none;
		font-size: 19px;
		font-family: 'bsansbold';
		color: #fff;
		text-transform: uppercase;
		line-height: 42px;
		&:hover {
			background-color: #0698cd;
		}
	}
}

//CAT ROW
.cat-row {
	padding: 30px 0 40px;
	&__buttons {
		width: 220px;
		float: left;
	}
	&__button {
		display: block;
		height: 40px;
		border-radius: 20px;
		transition: all .3s ease-in-out;
		background: #fff;
		color: #48cfff;
		font-size: 19px;
		text-decoration: none;
		text-align: center;
		line-height: 42px;
		margin-bottom: 10px;
		&:hover, &.active {
			background: #ff738d;
			box-shadow: 0 2px 0 #e94b68;
			color: #fff;
		}
	}
	&__list {
		margin: 0 0 0 270px;
		padding: 0;
		list-style-type: none;
		flex-flow: row nowrap;
		justify-content: space-between;
		display: none;
		&.active {
			display: flex;
		}
		&.mom__list {
			justify-content: flex-start;
			&>li {
				margin-right: 10px;
			}
		}
		& > li {
			// overflow: hidden;
			min-height: 96px;
			position: relative;
			width: 100px;
			box-shadow: 0 2px 0 #dad9d9;
			background: #fff;
			border-radius: 15px;
			text-align: center;
			& div > a {
				color: $linkColor;
				font-size: 13px;
				display: block;
				text-align: center;
				padding: 10px 0;
				
				text-decoration: none;
				font-family: 'PT Sans';
				line-height: 13px;
			}
			&.menu-item-has-children div > a {
				border-bottom: 1px solid #fff;
			}
			.sub-menu {
				padding: 0 10px;
				margin: 0;
				list-style-type: none;
				text-align: left;
				li {
					margin-top: 7px;
				}
				a {
					font-size: 12px;
					color: #fff;
					text-decoration: underline;
					font-family: 'PT Sans';
					font-weight: 400;
					display: block;
					&:hover {
						color: $linkColor;
					}
				}
			}
			&.menu-item-has-children:hover {
				overflow: visible;
			}
			&:hover div {
				background: #00a4df;
				box-shadow: 0 2px 0 #1180a8;
				max-height: 999px;
				
				& > a {
					color: #fff;
					font-weight: 700;
				}
			}
			&.menu-item-has-children:hover div {
				height: auto;
			}
		}
		div {
			position: absolute;
			width: 100%;
			max-height: 105px;
			overflow: hidden;
			height: 100%;
			top: 0;
			left: 0;
			padding: 45px 5px 5px;
			border-radius: 15px;
			transition: all .3s ease-in-out;
			text-align: center;
			z-index: 9;
		}
		i {
			display: inline-block;
			position: relative;
			z-index: 10;
			margin-top: 8px;
		}
		.podguznik i {
			@include sprite($podguznik);
		}
		.podguznik:hover i {
			@include sprite($podguznik-hover);
		}
		.gloryes i {
			@include sprite($gloryes);
		}
		.detskoe-pitanie i {
			@include sprite($pitanie);
		}
		.detskoe-pitanie:hover i {
			@include sprite($pitanie-hover);
		}
		.aksesuari i {
			@include sprite($aksesuari);
		}
		.aksesuari:hover i {
			@include sprite($aksesuari-hover);
		}
		.gigiena i {
			@include sprite($gigiena);
		}
		.gigiena:hover i {
			@include sprite($gigiena-hover);
		}
		.ximia i {
			@include sprite($ximia);
		}
		.ximia:hover i {
			@include sprite($ximia-hover);
		}
		.odejda i {
			@include sprite($odejda);
		}
		.odejda:hover i {
			@include sprite($odejda-hover);
		}
		.pustishka i {
			@include sprite($pustishka);
		}
		.pustishka:hover i {
			@include sprite($pustishka-hover);
		}
		.berem i {
			@include sprite($berem);
		}
		.berem:hover i {
			@include sprite($berem-hover);
		}
		.aksesuar i {
			@include sprite($aksesuar);
		}
		.aksesuar:hover i {
			@include sprite($aksesuar-hover);
		}
		.laktacia i {
			@include sprite($laktacia);
		}
		.laktacia:hover i {
			@include sprite($laktacia-hover);
		}
	}
}

//INDEX PAGE

// DISCOUNT ROW

.discount-row {
	display: flex;
	flex-flow: row nowrap;
	&__slider {
		width: 70%;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
		.swiper-container {
			border-radius: 15px;
			.swiper-pagination-bullet {
				width: 14px;
				height: 14px;
				background: #00a4df;
				opacity: 1;
				&-active, &:hover {
					background: #ff738d;
				}
			}
		}
	}
	&__img {
		margin-left: 1%;
		width: 29%;
		img {
			display: block;
			margin: auto;
			max-width: 100%;
			height: auto;
		}
	}
}

.horiz-slider {
	padding-bottom: 45px;
	.swiper-slide {
		border-radius: 15px;
		box-shadow: 0 2px 0 #dad9d9;
		background: #fff;
		padding: 15px 15px 30px;
		margin-bottom: 3px;
		position: relative;
		transition: all .3s ease-in-out;
		height: 265px;
		&:hover .buy {
			opacity: 1;
			visibility: visible;
		}
		&:hover {
			box-shadow: none;
			border-bottom-left-radius: 0px;
			border-bottom-right-radius: 0px;
		}
		&:hover img {
			transform: scale(1.15);
		}
		.img-wrap {
			height: 160px;
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;
			align-items: center;
			overflow: hidden;
		}
		img {
			display: block;
			max-width: 100%;
			height: auto;
			transition: all .3s ease-in-out;
		}
		.title a {
			color: #0072bc;
			font-size: 14px;
			line-height: 19px;
			text-decoration: none;
			font-family: 'PT Sans';
			&:hover {
				text-decoration: underline;
			}
		}
		.price {
			text-align: right;
			position: absolute;
			bottom: 7px;
			left: 0;
			width: 100%;
			font-size: 21px;
			font-family: 'bsansbold';
			color: #ff738d;
			padding-right: 15px;
			.old-price {
				font-size: 14px;
				color: #898989;
				font-family: 'bsans';
				margin-right: 10px;
				text-decoration: line-through;
			}
		}
		.discount-notify {
			position: absolute;
			top: 15px;
			left: 0;
			width: 117px;
			height: 32px;
			background-color: rgba(255, 0, 84, .8);
			border-radius: 0px 5px 5px 0px;
			box-shadow: 0 1px 0 #b80627;
			font-size: 18px;
			text-align: center;
			font-family: 'bsansbold';
			color: #fff;
			line-height: 34px;
			.discount-size {
				margin-left: 5px;
			}
		}
	}
	.buy {
		display: block;
		height: 45px;
		background-color: #92de00;
		border-radius: 0px 0px 15px 15px;
		box-shadow: 0 2px 0 #6ba301;
		position: absolute;
		bottom: -45px;
		left: 0;
		width: 100%;
		padding-left: 86px;
		text-transform: uppercase;
		text-decoration: none;
		color: #fff;
		text-shadow: 0 1px 0 #73ac05;
		font-size: 24px;
		font-family: 'bsansbold';
		line-height: 52px;
		transition: all .3s ease-in-out;
		visibility: hidden;
		opacity: 0;
		&::after {
			content: '';
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 6.5px 6px 6.5px;
			border-color: transparent transparent #90de00 transparent;
			top: -6px;
		}
		&:hover {
			background-color: #88cb08;
		}
		.basket {
			@include sprite($basket);
			position: absolute;
			left: 44px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
}

.horiz-nav {
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #00a4df;
	box-shadow: 0 1px 0 #1180a8;
	top: 50%;
	margin-top: -10px;
	z-index: 5;
	border-radius: 50%;
	transition: all .3s ease-in-out;
	cursor: pointer;
	&:hover {
		background-color: #0581ad;
	}
	&.swiper-btn-prev {
		left: -15px;
		&::after {
			@include sprite($horiz-arr-prev);
		}
	}
	&.swiper-btn-next {
		right: -15px;
		&::after {
			@include sprite($horiz-arr-next);
		}
	}
	&::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}


.recommend-row {
	position: relative;
	h2 {
		font-size: 44px;
		color: #00a4df;
		margin: 65px 0 10px;
		font-family: 'bsansbold';
	}
}

.new-row {
	position: relative;
	h2 {
		font-size: 44px;
		color: #ff0054;
		margin: 15px 0 10px;
		font-family: 'bsansbold';
	}
}

.benefits-row {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row nowrap;
	color: #fff;
	margin: 50px 0 45px;
	&__item {
		width: 25%;
		padding: 180px 20px 20px;
		background-repeat: no-repeat;
		background-position: top 20px center, top center;
		background-size: auto auto, cover;
		.title {
			font-size: 18px;
			font-family: 'bsansbold';
			margin: 0 0 15px;
			text-transform: uppercase;
		}
		.descr {
			font-size: 14px;
			font-family: 'PT Sans';
			line-height: 19px;
		}
		&.bonus {
			background-image: url(../img/bonus-ico1.png), url(../img/bonus-ico-bg.png);
		}
		&.call {
			background-image: url(../img/call-ico1.png), url(../img/call-ico-bg.png);
		}
		&.delivery {
			background-image: url(../img/delivery-ico1.png), url(../img/delivery-ico-bg.png);
		}
		&.garant {
			background-image: url(../img/garant-ico1.png), url(../img/garant-ico-bg.png);
		}
	}
}

.brands-row {
	position: relative;
	.brands-slider {
		padding-bottom: 0;
		.swiper-slide {
			height: 160px;
			padding: 15px;
			display: flex;
			justify-content: center;
			align-items: center;
			&:hover {
				box-shadow: 0 2px 0 #dad9d9;
				border-bottom-left-radius: 15px;
				border-bottom-right-radius: 15px;
			}
			img {
				display: block;
				margin: auto;
			}
		}
	}
	.horiz-nav {
		margin-top: 0;
		transform: translateY(-50%);
	}
}

.btn {
	height: 40px;
	border-radius: 20px;
	box-shadow: 0 2px 0 #e94b68;
	transition: all .3s ease-in-out;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 19px;
	font-family: 'bsansbold';
	line-height: 46px;
	transition: all .2s ease-in-out;
}

.hot-row {
	margin-bottom: 45px;
	display: flex;
	flex-flow: row nowrap;
	.hot-col {
		background: url(../img/hot-bg.png) top center no-repeat;
		background-size: cover;
		width: 59%;
		padding: 30px 60px;
		border-radius: 15px;
		overflow: hidden;
		position: relative;
		h2 {
			text-align: center;
			text-transform: uppercase;
			font-size: 36px;
			color: #ff0054;
			margin: 10px 0 15px;
			font-family: 'bsansbold';
		}
	}
	.swiper-slide {
		background: #fff;
		border: 1px solid #fdd635;
		border-radius: 8px;
		padding: 0 15px;
		position: relative;
		overflow: hidden;
		img {
			display: block;
			margin: auto;
			max-width: 100%;
			height: auto;
		}
		p {
			text-align: center;
			margin: 0 0 15px;
			font-size: 17px;
			color: #363636;
			line-height: 22px;
			a {
				color: #0072bc;
				&:hover {
					text-decoration: none;
				}
			}
		}
		.shape {
			position: absolute;
			top: 0;
			right: 0;
			text-align: right;
			padding-right: 8px;
			padding-top: 9px;
			background: #fdd635;
			width: 144px;
			height: 104px;
			background: url(../img/triangle.png) top center no-repeat;
			background-size: cover;
			& * {
				vertical-align: middle;
				display: inline-block;
				font-size: 28px;
				font-family: 'bsansmedium';
				color: #fff;
				text-shadow: 0 1px 0 #e2a106;
			}
			span {
				margin-left: 10px;
				position: relative;
				top: 2px;
			}
		}
	}
	.view-all {
		margin: 25px auto 0;
		background-color: #ff738d;
		display: block;
		max-width: 180px;
		&:hover {
			background-color: #f34565;
		}
	}
	.horiz-nav {
		background: #ff738d;
		box-shadow: 0 1px 0 #e94b68;
		&:hover {
			background: #e55c75;
		}
	}
	.hot-next {
		right: 10px;
		&::after {
			@include sprite($horiz-arr-next);
		}
	}
	.hot-prev {
		left: 10px;
		&::after {
			@include sprite($horiz-arr-prev);
		}
	}
	.bonus-cart {
		background-image: url(../img/bonus-cart-decor.png), url(../img/bonus-cart-cart.png), url(../img/bonus-cart-bg.png);
		background-repeat: no-repeat;
		background-position: bottom right -40px, top 40px right, top center;
		background-size: auto auto, auto auto, cover;
		border-radius: 15px;
		overflow: hidden;
		width: 39%;
		margin-left: 2%;
		padding: 290px 30px 0;
		.heading {
			font-family: 'bsansbold';
			font-size: 31px;
			line-height: 39px;
			color: #fff;
			text-shadow: 1px 1px 4px #e2a106;
			margin: 0;
		}
		.activate {
			display: block;
			max-width: 200px;
			box-shadow: 0 2px 0 #1180a8;
			background-color: #00a4df;
			margin: 25px auto 0;
			&:hover {
				background: #028dbf;
			}
		}
	}
}

.index-info {
	padding: 40px;
	background: #fff;
	border-radius: 15px;
	margin-top: 50px;
	margin-bottom: 50px;
	h2 {
		font-size: 24px;
		color: #00a4df;
		font-family: 'bsansbold';
		margin: 0 0 15px;
	}
	h3 {
		font-size: 19px;
		color: #00a4df;
		font-family: 'bsansbold';
		margin: 15px 0;
	}
	p {
		font-size: 14px;
		color: #898989;
		font-family: 'PT Sans';
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: inline-block;
		vertical-align: top;
		margin-left: 80px;
		&:first-of-type {
			margin-left: 0;
		}
		li {
			margin-bottom: 10px;
			position: relative;
			padding-left: 10px;
			&::after {
				content: '';
				position: absolute;
				width: 4px;
				height: 4px;
				border-radius: 4px;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				background: #00a4df;
			}
		}
		a {
			color: #898989;
			font-size: 14px;
			font-family: 'PT Sans';
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.note {
		margin-top: 20px;
		p {
			color: #0072bc;
		}
		strong {
			display: block;
			margin-bottom: 10px;
		}
	}
}


.site-footer {
	background: url(../img/footer-bg.png) top center no-repeat;
	background-size: cover;
	padding-top: 40px;
	&__inner {
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		border-bottom: 1px solid #fff;
		padding-bottom: 5px;
	}
	.logo {
		padding-top: 12px;
	}
	.footer-nav {
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
			column-count: 2;
			li {
				margin-bottom: 13px;
				a {
					color: #fff;
					font-size: 14px;
					text-decoration: none;
					font-family: 'PT Sans';
					&:hover {
						text-decoration: underline;
					}
				}
				&.current-menu-item a {
					color: #fffbc2;
				}
			}
		}
	}
	.subscribe-col {
		.phones {
			padding-left: 50px;
			background: url(../img/big-tel.png) left center no-repeat;
			a {
				display: block;
				color: #ffffff;
				font-size: 17px;
				text-decoration: none;
				margin-bottom: 10px;
				&:hover {
					text-decoration: underline;
				}
			}
		}
		a.subscribe {
			display: block;
			text-align: center;
			line-height: 28px;
			height: 25px;
			font-size: 14px;
			text-transform: uppercase;
			color: #fff;
			font-family: 'bsansbold';
			text-decoration: none;
			background-color: #92de00;
			border-radius: 13px;
			box-shadow: 0 1px 0 #6ba301;
			min-width: 220px;
			&:hover {
				background-color: #87c908; 
			}
		}
	}
	.social-col {
		.heading {
			font-size: 21px;
			font-family: 'bsansmedium';
			color: #fff;
			margin: 0 0 23px;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
		}
		li {
			display: inline-block;
			margin-left: 15px;
			width: 40px;
			height: 40px;
			&:first-child {
				margin-left: 0;
			}
			a {
				width: 100%;
				height: 100%;
				display: block;
			}
		}
		.vk {
			background: url(../img/vk.png) no-repeat;
		}
		.fb {
			background: url(../img/fb.png) no-repeat;
		}
		.inst {
			background: url(../img/inst.png) no-repeat;
		}
		.gplus {
			background: url(../img/gplus.png) no-repeat;
		}
	}
	.copyright {
		text-align: center;
		font-family: 'PT Sans';
		font-size: 12px;
		color: #b5f2ff;
		p {
			margin: 15px 0 0;
			line-height: 17px;
		}
		a {
			color: #b5f2ff;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.popup {
	max-width: 680px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 2px 0 #dad9d9;
	padding: 65px 120px 20px;
	margin: auto;
	position: relative;
	text-align: center;
	& > p {
		margin: 20px 0 0;
		color: #898989;
		font-size: 16px;
		font-family: 'PT Sans';
		a {
			font-weight: 700;
			color: #00aeef;
			text-decoration: none;
			margin-left: 5px;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.heading {
		font-size: 31px;
		text-align: center;
		color: #00aeef;
		font-family: 'bsansbold';
		margin: 0 0 40px;
		text-transform: uppercase;
	}
	&__inner-row {
		margin-bottom: 20px;
		img {
			display: inline-block;
			vertical-align: middle;
		}
		p {
			display: inline-block;
			vertical-align: middle;
			color: #898989;
			font-size: 16px;
			font-family: 'PT Sans';
			font-weight: 700;
			text-align: right;
			padding-right: 5px;
			width: 50%;
			margin: 0;
			.required {
				color: #ff0054;
				margin-left: 1px;
			}
		}
		input {
			display: inline-block;
			vertical-align: middle;
			width: 48%;
			height: 42px;
			border: 2px solid #ededed;
			border-radius: 5px;
			padding: 0 10px;
			outline: 0;
			&.captcha-code {
				width: 90px;
			}
		}

	}
	input[type=submit] {
		display: block;
		padding: 0 60px;
		margin: 30px auto 10px;
		height: 50px;
		background-color: #92de00;
		border-radius: 25px;
		box-shadow: 0 2px 0 #6ba301;
		color: #fff;
		border: none;
		outline: 0;
		font-family: 'bsansbold';
		text-transform: uppercase;
		font-size: 24px;
		line-height: 56px;
		transition: all .2s ease-in-out;
		&:hover {
			background: #6ba301;
		}
	}
}

#login {
	.popup__inner {
		padding-right: 100px;
	}
}

.breadcrumbs {
	padding: 15px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 0 2px 0 #dad9d9;
	margin-bottom: 20px;
	&__inner {
		font-size: 12px;
		color: #707070;
		.separator {
			margin: 0 5px;
		}
		& * {
			vertical-align: middle;
		}
		a {
			color: #00a4df;
			text-decoration: underline;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.page-title {
		color: #00a4df;
		font-size: 31px;
		font-family: 'bsansbold';
		margin: 7px 0 0;
	}
}

.interesting__list {
	padding: 0;
	margin: 15px 0 0;
	list-style-type: none;
	li {
		height: 280px;
		border-radius: 15px;
		box-shadow: 0 2px 0 #dad9d9;
		background-size: cover;
		background: url(../img/interesting1.jpg) top center no-repeat;
		overflow: hidden;
		margin-bottom: 20px;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		padding-left: 100px;
		&:nth-child(odd) {
			justify-content: flex-end;
			padding-left: 0;
		}
		.inner {
			min-width: 420px;
			.heading {
				font-size: 61px;
				font-family: 'bsansbold';
				margin: 0 0 10px;
			}
			a {
				display: block;
				width: 220px;
				height: 40px;
				border-radius: 20px;
				box-shadow: 0 2px 0 rgba(0, 0, 0, .2);
				color: #fff;
				text-align: center;
				text-transform: uppercase;
				font-size: 19px;
				line-height: 46px;
				text-decoration: none;
				font-family: 'bsansbold';
				transition: all .2s ease-in-out;
				&:hover {
					opacity: .8;
				}
			}
		}
		&:nth-child(2) {
			background: url(../img/interesting2.jpg) top center no-repeat;
		}
		&:nth-child(3) {
			background: url(../img/interesting3.jpg) top center no-repeat;
		}
	}
}

.page-description {
	margin: 30px 0 50px;
	background: #fff;
	padding: 30px;
	border-radius: 15px;
	h3 {
		font-size: 24px;
		font-family: 'bsansbold';
		color: #00a4df;
		margin: 0 0 15px;
	}
	p {
		font-size: 14px;
		line-height: 19px;
		color: #898989;
		font-family: 'PT Sans';
		margin-bottom: 0;
	}
}

.interesting-cat__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	li {
		background: #fff;
		border-radius: 15px;
		box-shadow: 0 2px 0 #dad9d9;
		padding: 20px;
		width: 32%;
		overflow: hidden;
		position: relative;
		margin-bottom: 20px;
		.full-link {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
		}
		.img-wrap {
			border-radius: 15px;
			overflow: hidden;
			max-height: 200px;
			img {
				display: block;
				margin: auto;
				max-width: 100%;
				height: auto;
			}
		}
		.title {
			font-size: 17px;
			color: #00a4df;
			font-family: 'bsansbold';
			line-height: 19px;
			text-align: center;
			display: block;
			text-decoration: none;
			margin-top: 20px;
		}
		&:hover {
			box-shadow: 0 2px 0 #e94b68;
			.title {
				color: #ff738d;
				text-decoration: underline;
			}
		}
	}
}

.related__list {
	@extend .interesting-cat__list;
}
.related-posts {
	margin: 50px 0 25px;
	h2 {
		font-family: 'bsansbold';
		color: #ff0054;
		font-size: 44px;
		margin-bottom: 0;
	}
}

.pagination-wrap {
	text-align: center;
	margin: 10px 0 40px;
	& * {
		display: inline-block;
		vertical-align: middle;
	}
	a, span {
		margin: 0 5px;
		color: #00a4df;
		font-weight: 700;
		font-family: 'PT Sans';
		&:hover {
			text-decoration: none;
			color: #48cfff;
		}
	}
	.pagination-arr {
		padding: 5px 20px;
		background: #00a4df;
		border-radius: 15px;
		color: #fff;
		text-decoration: none;
		font-size: 15px;
		font-family: 'PT Sans';
		margin: 0 10px;
		span {
			margin-left: 10px;
			color: #fff;
		}
		&.prev span {
			margin-left: 0;
			margin-right: 10px;
		}
		&:hover {
			background: #48cfff;
			color: #fff;
		}
	}
}

.single-content {
	padding: 45px 20px;
	background: #fff;
	border-radius: 15px;
	font-family: 'PT Sans';
	color: #898989;
	font-size: 14px;
	p, h4, h3, h2, h5, h6 {
		margin-top: 0;
	}
	h4, h3, h2, h5, h6 {
		margin-bottom: 10px;
	}
	ul {
		padding: 0;
		list-style-type: none;
		li {
			margin-bottom: 20px;
			position: relative;
			&::before {
				content: '•';
				color: #00a4df;
				display: inline-block;
				vertical-align: top;
				margin-right: 5px;
			}
		}
	}
}

.delivery .single-content {
	background-image: url(../img/delivery.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	padding-right: 40%;
}

.club .single-content {
	background: url(../img/club-bg.jpg) top center no-repeat;
	background-size: cover;
	padding: 50px 30px;
}

.club__row {
	.card-col {
		float: right;
		img {
			display: block;
			max-width: 100%;
			height: auto;
			position: relative;
			right: -30px;
		}
		.buy-card {
			display: block;
			max-width: 200px;
			background: #00a4df;
			box-shadow: 0 2px 0 #1180a8;
			margin-top: 30px;
			margin-left: 30px;
			&:hover {
				background: #0693c6;
			}
		}
	}
	.content-col {
		margin-right: 400px;
		font-size: 14px;
		font-family: 'PT Sans';
		color: #898989;
		h2 {
			font-size: 24px;
			font-family: 'bsansbold';
			color: #00a4df;
			margin: 0 0 15px;
		}
	}
}

.sert__row {
	margin-top: 50px;
	.sert-col {
		float: left;
		img {
			display: block;
			max-width: 100%;
			height: auto;
			position: relative;
			left: -30px;
		}
		input {
			display: block;
			width: 176px;
			margin-top: 25px;
		}
		input[type=text] {
			height: 30px;
			background-color: white;
			border: 1px solid #92de00;
			border-radius: 5px;
			outline: 0;
			padding: 0 10px;
			font-size: 20px;
			&::-webkit-input-placeholder {
				color: #00a4df;
			}
			&::-moz-placeholder {
				color: #00a4df;
			}
			&:-ms-input-placeholder {
				color: #00a4df;
			}
			&:-moz-placeholder {
				color: #00a4df;
			}
		}
		input[type=submit] {
			height: 40px;
			background-color: #92de00;
			border-radius: 20px;
			box-shadow: 0 2px 0 #6ba301;
			font-size: 24px;
			font-family: 'bsansbold';
			color: #fff;
			text-transform: uppercase;
			border: none;
			outline: 0;
			background-image: url(../img/basket.png);
			background-repeat: no-repeat;
			background-position: left 20px center;
			padding-left: 40px;
			line-height: 43px;
			transition: all .2s ease-in-out;
			&:hover {
				background-color: #86cb02;
			}
		}
	}
	.content-col {
		margin-left: 370px;
		padding-top: 50px;
		h2 {
			font-size: 24px;
			font-family: 'bsansbold';
			color: #00a4df;
			margin: 0 0 15px;
		}
	}
}

.about .single-content {
	padding: 0;
	overflow: hidden;
}

.about-top {
	&__inner {
		max-width: 700px;
	}
	background: url(../img/about-bg.jpg) top center no-repeat;
	padding-bottom: 250px;
	padding: 50px 30px 250px;
}

.about__inner {
	padding: 0 30px 50px;
	h4 {
		font-size: 24px;
		color: #00a4df;
		font-family: 'bsansbold';
		margin: 30px 0 15px 0;
	}
	p {
		margin-bottom: 5px;
	}
	a {
		color: #00a4df;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
		margin-right: 5px;
	}
}
























