block header
	header.site-header
		.top-line
			.container.cf
				.favorite-shop 
					i.heart
					|Любимый магазин:
					a(href="#") ул.Домостроителей, д.36
				.my-city
					i.home
					|Мой город:
					a(href="#") Тюмень
				.shop-phone
					i.phone
					a(href="tel:(3452) 541-001") (3452) 541-001
				.login-register
					i.user
					a.open-popup(href="#login") Войти
					span |
					a.open-popup(href="#login") Регистрация
		.top-nav-wrapper
			.container
				button.toggle-mobile-nav
					span
					span
					span
				ul.top-nav
					li.current-menu-item
						a(href="#") Главная
					li
						a(href="#") Клуб покупателей
					li
						a(href="#") Это интересно
					li
						a(href="#") Доставка
					li
						a(href="#") Контакты
					li
						a(href="#") О Берегите Чудо
		.logo-row
			.container.cf
				.logo-row__logo
					a(href="#")
						img(src="img/logo.png", alt="Logo")
				.cart-side
					a.cart-side__item.callback.open-popup(href="#callback") Заказать обратный звонок
						span
					.cart-side__item.social
						p.heading Мы в социальных сетях
						ul
							li.vk
								a(href="#")
							li.inst
								a(href="#")
							li.fb
								a(href="#")
							li.gplus
								a(href="#")
					.cart-side__item.bonuses
						a.bg(href="#")
						p.heading Мои бонусы
						span.number 4987
						a.view-more(href="#") Подробнее
					.cart-side__item.my-cart
						a.bg(href="#")
						p.heading Моя корзина
						span.count 
							b 21 
							| шт.
						span.price 
							b 14 000
							| руб.
						a.view-more(href="#") Подробнее
		.search-row
			.container
				.search-row__inner.cf
					form
						select.search-select
							option(value="Все категории") Все категории
							option(value="Категория 1") Категория 1
							option(value="Категория 2") Категория 2
							option(value="Категория 3") Категория 3
							option(value="Категория 4") Категория 4
						input.search-input(type="text")
						input.search-btn(type="submit" value="искать")
		.cat-row
			.container.cf
				.cat-row__buttons
					a.cat-row__button.active(href="#") Товары для детей
					a.cat-row__button(href="#") Товары для мам
				ul.cat-row__list.active
					li.menu-item-has-children.podguznik
						i
						div
							a(href="#") Подгузники
							ul.sub-menu
								li
									a(href="#") Подгузники
								li
									a(href="#") Трусики
								li
									a(href="#") Для купания
					li.gloryes
						i
						div
							a(href="#") Многоразовая продукция «GlorYes»
					li.menu-item-has-children.detskoe-pitanie
						i
						div
							a(href="#") Детское питание
							ul.sub-menu
								li
									a(href="#") Каши
								li
									a(href="#") Шашлыки
								li
									a(href="#") Другое
					li.aksesuari
						i
						div
							a(href="#") Аксессуары для кормления
					li.menu-item-has-children.gigiena
						i
						div
							a(href="#") Гигиена и уход
							ul.sub-menu
								li
									a(href="#") Мыло
								li
									a(href="#") Шампуни
								li
									a(href="#") Другое
					li.menu-item-has-children.pustishka
						i
						div
							a(href="#") Прорезыватели и пустышки
							ul.sub-menu
								li
									a(href="#") Мыло
								li
									a(href="#") Шампуни
								li
									a(href="#") Другое
					li.ximia
						i
						div
							a(href="#") Бытовая химия
					li.menu-item-has-children.odejda
						i
						div
							a(href="#") Детская одежда
							ul.sub-menu
								li
									a(href="#") Куртки
								li
									a(href="#") Теплые куртки
								li
									a(href="#") Теплые куртки теплее

				ul.cat-row__list.mom__list
					li.menu-item-has-children.berem
						i
						div
							a(href="#") Бельё для беременных и кормящих
							ul.sub-menu
								li
									a(href="#") Подгузники
								li
									a(href="#") Трусики
								li
									a(href="#") Для купания
					li.aksesuar
						i
						div
							a(href="#") Аксессуары для кормления
					li.menu-item-has-children.laktacia
						i
						div
							a(href="#")  Продукты для лактации
							ul.sub-menu
								li
									a(href="#") Каши
								li
									a(href="#") Шашлыки
								li
									a(href="#") Другое
					