extends _layout
block content
	main.main-content.cf.about
		.container
			.breadcrumbs
				.breadcrumbs__inner
					a(href="#") Главная
					span.separator >
					span О берегите чудо
				h2.page-title О берегите чудо
			.single-content
				.about-top
					.about-top__inner
						p Интернет-магазин "Берегите Чудо" в Тюмени работает с 12.12.2012 года. За это время мы выросли из узкоспециализированного интернет-магазина японских подгузников до сети магазинов, в которой представлен огромный выбор детского питания, подгузников, косметики для новорожденных, аксессуаров для кормящих мам, но наша главная гордость - линейка одежды под нашим брэндом "Берегите Чудо".
						p Ежедневно мы заботимся о том, чтобы у родителей была возможность покупать качественные товары для малыша максимально удобно и выгодно!
						p "Берегите Чудо" - это зарегистрированный торговый знак, правообладатель - ООО "ИМ - Сервис".
				.about__inner
					h4 Вакансии
					p
						strong Актуальные вакансии:
					p
						a(href="#") Менеджер отдела продаж 
						| Заработная плата от 25 000 руб.
					p
						a(href="#") Специалист службы доставки 
						| Заработная плата от 19 000 руб.
					p
						a(href="#") Директор магазина 
						| Заработная плата от 86 000 руб.
					p
						a(href="#") Специалист СММ продвижения 
						| Заработная плата по результатам собеседования. 
				
					
				

			.page-description
				h3 Интернет-магазин детских товаров в Тюмени
				p Добро пожаловать на наш сайт!<br><br>Наверняка каждый родитель прекрасно осведомлен о том, насколько важно обеспечить своего малыша самыми необходимыми вещами. На сегодняшний момент существует масса разнообразных новинок для малышей, которые сделают комфортной жизнь не только ребенка, но и мамочки. Мы предлагаем детские товары самых различных категорий:




block inlineScripts