extends _layout
block content
	main.main-content.cf.item-page
		.container
			.breadcrumbs
				.breadcrumbs__inner
					a(href="#") Главная
					span.separator >
					span Корзина
				h2.page-title Корзина
			.cart-success
				.cart-success__inner
					h1 Ваш заказ успешно оформлен
					ul.order-info
						li
							p.heading Товары:
							ol
								li 
									a(href="#") Подгузники Pampers Premium Care 1 (2-5 кг) 88 шт. 
										span x 1
								li 
									a(href="#") Каша безмолочная Fleur Alpine Organic овсяная с 5 мес. 175 г 
										span x 9
								li 
									a(href="#") Подгузники Pampers Premium Care 1 (2-5 кг) 88 шт. 
										span x 2
						li
							p.heading Способ получения заказа:
							p Курьером
						li
							p.heading Использование промокода:
							p Не использовался
						li
							p.heading Адресс доставки:
							p ул. Пермякова, д.71 корп.3
						li
							p.heading Личные данные:
							p E-mail: innamama@mail.ru
							p Телефон:  +7 930 123-45-67
					ul.order-info
						li
							p.heading Оплата:
							p Наличными водителю
						li
							p.heading Использование бонусов:
							p 0
						li
							p.heading Сумма скидки:
							p 1386 руб.
						li
							p.heading Сумма к оплате:
							p 8 820 руб.
						li.bonuses
							p.heading Колличество бонусов<br>начисленных после оплаты:
							p 78
				a.btn.back-to-cat(href="#") Вернуться в каталог






block inlineScripts