extends _layout
block content
	main.main-content.cf.club
		.container
			.breadcrumbs
				.breadcrumbs__inner
					a(href="#") Главная
					span.separator >
					span Клуб покупателей
				h2.page-title Клуб покупателей
			.single-content
				.club__row.cf
					.card-col
						img(src="img/card-buy.png", alt="")
						a.buy-card.btn(href="#") Купить
					.content-col
						h2 Клубная карта
						p Держатель накопительной карты "Берегите Чудо" может получать бонусы с каждой покупки в магазинах "Берегите Чудо" в Тюмени! 
						p
							strong Размер бонусов:
						ul
							li При общей сумме покупок до 10000 руб. – 1% от каждого чека;
							li При общей сумме покупок от 10000 руб. до 20000 руб. – 2% от каждого чека;
							li При общей сумме покупок свыше 20000 руб. – 3% от каждого чека.
						p Накопленными бонусами 
							strong можно оплатить всю покупку 
							| (если на карте 1500 бонусов, можно оплатить чек на 1500 руб.)
						p
							strong Действие карты
							| – бессрочно. Бонусы не сгорают!
						p Цена карты всего 50 рублей! Приобрести карту можно  любом магазине "Берегите Чудо" в Тюмени или через интернет-магазин берегитечудо.рф
				.sert__row.cf
					.sert-col
						img(src="img/sert-img.png", alt="")
						form
							input(type="text" placeholder="Сумма")
							input(type="submit" value="Купить")
					.content-col
						h2 Подарочные сертификаты
						p Подарочный сертификат магазина "Берегите Чудо" свободного номинала - это современный, удобный, а главное нужный подарок для мамы и малыша!
						p
							strong Введите в поле желаемую сумму подарочного сертификата и нажмите кнопку "Купить".
						p Кроме того, будущий держатель этой карты сможет получать бонусы с каждой покупки в магазинах "Берегите Чудо" в Тюмени!
					
				

			.page-description
				h3 Интернет-магазин детских товаров в Тюмени
				p Добро пожаловать на наш сайт!<br><br>Наверняка каждый родитель прекрасно осведомлен о том, насколько важно обеспечить своего малыша самыми необходимыми вещами. На сегодняшний момент существует масса разнообразных новинок для малышей, которые сделают комфортной жизнь не только ребенка, но и мамочки. Мы предлагаем детские товары самых различных категорий:




block inlineScripts