extends _layout
block content
	main.main-content.cf.contacts
		.container
			.breadcrumbs
				.breadcrumbs__inner
					a(href="#") Главная
					span.separator >
					span Контакты
				h2.page-title Контакты
			.single-content
				.row
					.col
						p.tel Телефон службы доставки в Тюмени - 
							a(href="tel:(3452) 541-001") (3452) 541-001
					.col
						a.receive.btn.open-popup(href="#receive") Получить оптовый прайс
				h2 Магазины "Берегите Чудо" в Тюмени:
				.row
					.col
						p
							strong ул. Котовского, д.1.<br>
							| Часы работы: ежедневно, с 10.00 до 20.00.<br>
							| телефон: (3452) 123-786.<br>
							| Оплата: наличными, банковской картой через терминал.<br>
					.col
						p
							strong ул. Котовского, д.1.<br>
							| Часы работы: ежедневно, с 10.00 до 20.00.<br>
							| телефон: (3452) 123-786.<br>
							| Оплата: наличными, банковской картой через терминал.<br>
					.col
						p
							strong ул. Котовского, д.1.<br>
							| Часы работы: ежедневно, с 10.00 до 20.00.<br>
							| телефон: (3452) 123-786.<br>
							| Оплата: наличными, банковской картой через терминал.<br>
					.col
						p
							strong ул. Котовского, д.1.<br>
							| Часы работы: ежедневно, с 10.00 до 20.00.<br>
							| телефон: (3452) 123-786.<br>
							| Оплата: наличными, банковской картой через терминал.<br>
				.map#map
				.contact-bottom.social-col
					p.social-heading Мы в социальных сетях:
					ul
						li.vk
							a(href="#")
						li.inst
							a(href="#")
						li.fb
							a(href="#")
						li.gplus
							a(href="#")
				.row
					.col
						p
							strong По вопросам рекламы и маркетингового сотрудничества:<br>
							a(href="mailto:pr@beregitechudo.ru") pr@beregitechudo.ru
						p
							strong По общим вопросам:<br>
							a(href="mailto:info@beregitechudo.ru") info@beregitechudo.ru
							span Этот адрес электронной почты защищен от спам-ботов.<br>У вас должен быть включен JavaScript для просмотра.
					.col
						p
							strong Юридическая информация:<br>
							| ООО "ИМ - Сервис"<br>ОГРН 1127232025832<br>Юр. адрес: г.Тюмень, ул. Котовского, д.1


				
					
				

			.page-description
				h3 Интернет-магазин детских товаров в Тюмени
				p Добро пожаловать на наш сайт!<br><br>Наверняка каждый родитель прекрасно осведомлен о том, насколько важно обеспечить своего малыша самыми необходимыми вещами. На сегодняшний момент существует масса разнообразных новинок для малышей, которые сделают комфортной жизнь не только ребенка, но и мамочки. Мы предлагаем детские товары самых различных категорий:




block inlineScripts