extends _layout
block content
	main.main-content.cf.delivery
		.container
			.breadcrumbs
				.breadcrumbs__inner
					a(href="#") Главная
					span.separator >
					span Доставка
				h2.page-title Доставка
			.single-content
				p Служба доставки "Берегите Чудо" - это команда ответственных, оперативных курьеров, которые всегда готовы приступить к работе и доставить заказ менее, чем за 3 часа, после его подтверждения!
				p Заказы на доставку принимаются в интернет-магазине круглосуточно, по телефону (3452) 541-001 - ежедневно с 10.00 до 20.00. Время работы курьеров - с 10.00 до 00.00 часов.
				p
					strong Стоимость доставки заказа на сумму менее 3000 руб. - 100 рублей в черте города.
				p
					strong Заказы на сумму более 3000 руб. доставляем бесплатно!
				p 
					strong В пределах 15 км от города стоимость доставки составит 300 рублей. 

			.page-description
				h3 Интернет-магазин детских товаров в Тюмени
				p Добро пожаловать на наш сайт!<br><br>Наверняка каждый родитель прекрасно осведомлен о том, насколько важно обеспечить своего малыша самыми необходимыми вещами. На сегодняшний момент существует масса разнообразных новинок для малышей, которые сделают комфортной жизнь не только ребенка, но и мамочки. Мы предлагаем детские товары самых различных категорий:




block inlineScripts