extends _layout
block content
	main.main-content.cf
		.container
			.discount-row
				.discount-row__slider
					.swiper-container
						.swiper-wrapper
							.swiper-slide
								a(href="#")
									img(src="img/discount1.jpg", alt="")
							.swiper-slide
								a(href="#")
									img(src="img/discount1.jpg", alt="")
							.swiper-slide
								a(href="#")
									img(src="img/discount1.jpg", alt="")
							.swiper-slide
								a(href="#")
									img(src="img/discount1.jpg", alt="")

				.discount-row__img


block inlineScripts