extends _layout
block content
	main.main-content.cf
		.container
			.discount-row
				.discount-row__slider
					.swiper-container.discount-slider
						.swiper-wrapper
							.swiper-slide
								a(href="#")
									img(src="img/discount1.jpg", alt="")
							.swiper-slide
								a(href="#")
									img(src="img/discount1.jpg", alt="")
							.swiper-slide
								a(href="#")
									img(src="img/discount1.jpg", alt="")
							.swiper-slide
								a(href="#")
									img(src="img/discount1.jpg", alt="")
						.swiper-pagination
				.discount-row__img
					img(src="img/act1.png", alt="")
			.recommend-row
				h2 Рекомендуем
				.swiper-container.horiz-slider
					.swiper-wrapper
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								span.old-price 1799 руб.
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
							.discount-notify Скидка
								span.discount-size 25%
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec2.jpg", alt="")
							.title 
								a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								span.old-price 1799 руб.
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
							.discount-notify Скидка
								span.discount-size 10%
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec2.jpg", alt="")
							.title 
								a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
				.swiper-arr
					.swiper-btn-prev.horiz-nav
					.swiper-btn-next.horiz-nav
			.new-row
				h2 Новинки
				.swiper-container.horiz-slider
					.swiper-wrapper
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								span.old-price 1799 руб.
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
							.discount-notify Скидка
								span.discount-size 25%
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec2.jpg", alt="")
							.title 
								a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								span.old-price 1799 руб.
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
							.discount-notify Скидка
								span.discount-size 10%
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec2.jpg", alt="")
							.title 
								a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
				.swiper-arr
					.swiper-btn-prev.horiz-nav
					.swiper-btn-next.horiz-nav
			.benefits-row
				.benefits-row__item.bonus
					.title бонусная система скидок
					.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.benefits-row__item.call
					.title бонусная система скидок
					.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.benefits-row__item.delivery
					.title бонусная система скидок
					.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.benefits-row__item.garant
					.title бонусная система скидок
					.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.hot-row
				.hot-col
					h2 Успей купить
					.swiper-container.hot-slider
						.swiper-wrapper
							.swiper-slide
								a(href="#")
									img(src="img/hot1.jpg", alt="")
								p При покупке конструктора 
									a(href="#") LEGO Mixels 
									| второй вы получчаете в подарок! 
								.shape
									img(src="img/bear.png", alt="")
									span x 2
					.hot-next.horiz-nav
					.hot-prev.horiz-nav
					a.view-all.btn(href="#") Все акции
				.bonus-cart
					p.heading Активируйте бонусную карту "Берегите чудо" уже сегодня!
					a.btn.activate(href="#") активировать


			.brands-row
				.swiper-container.horiz-slider.brands-slider
					.swiper-wrapper
						.swiper-slide
							a(href="#")
								img(src="img/brand1.png", alt="")
						.swiper-slide
							a(href="#")
								img(src="img/brand2.png", alt="")
						.swiper-slide
							a(href="#")
								img(src="img/brand3.png", alt="")
						.swiper-slide
							a(href="#")
								img(src="img/brand4.png", alt="")
						.swiper-slide
							a(href="#")
								img(src="img/brand5.png", alt="")
						.swiper-slide
							a(href="#")
								img(src="img/brand6.png", alt="")
				.swiper-arr
					.swiper-btn-prev.horiz-nav
					.swiper-btn-next.horiz-nav




block inlineScripts