extends _layout
block content
	main.main-content.cf
		.container
			.discount-row
				.discount-row__slider
					.swiper-container.discount-slider
						.swiper-wrapper
							.swiper-slide
								a(href="#")
									img(src="img/discount1.jpg", alt="")
							.swiper-slide
								a(href="#")
									img(src="img/discount1.jpg", alt="")
							.swiper-slide
								a(href="#")
									img(src="img/discount1.jpg", alt="")
							.swiper-slide
								a(href="#")
									img(src="img/discount1.jpg", alt="")
						.swiper-pagination
				.discount-row__img
					img(src="img/act1.png", alt="")
			.recommend-row
				h2 Рекомендуем
				.swiper-container.horiz-slider
					.swiper-wrapper
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								span.old-price 1799 руб.
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
							.discount-notify Скидка
								span.discount-size 25%
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec2.jpg", alt="")
							.title 
								a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								span.old-price 1799 руб.
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
							.discount-notify Скидка
								span.discount-size 10%
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec2.jpg", alt="")
							.title 
								a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
				.swiper-arr
					.swiper-btn-prev.horiz-nav
					.swiper-btn-next.horiz-nav
			.new-row
				h2 Новинки
				.swiper-container.horiz-slider
					.swiper-wrapper
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								span.old-price 1799 руб.
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
							.discount-notify Скидка
								span.discount-size 25%
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec2.jpg", alt="")
							.title 
								a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								span.old-price 1799 руб.
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
							.discount-notify Скидка
								span.discount-size 10%
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec2.jpg", alt="")
							.title 
								a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
				.swiper-arr
					.swiper-btn-prev.horiz-nav
					.swiper-btn-next.horiz-nav
			.benefits-row
				.benefits-row__item.bonus
					.title бонусная система скидок
					.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.benefits-row__item.call
					.title бонусная система скидок
					.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.benefits-row__item.delivery
					.title бонусная система скидок
					.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.benefits-row__item.garant
					.title бонусная система скидок
					.descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
			.hot-row
				.hot-col
					h2 Успей купить
					.swiper-container.hot-slider
						.swiper-wrapper
							.swiper-slide
								a(href="#")
									img(src="img/hot1.jpg", alt="")
								p При покупке конструктора 
									a(href="#") LEGO Mixels 
									| второй вы получчаете в подарок! 
								.shape
									img(src="img/bear.png", alt="")
									span x 2
					.hot-next.horiz-nav
					.hot-prev.horiz-nav
					a.view-all.btn(href="#") Все акции
				.bonus-cart
					p.heading Активируйте бонусную карту "Берегите чудо" уже сегодня!
					a.btn.activate(href="#") активировать


			.brands-row
				.swiper-container.horiz-slider.brands-slider
					.swiper-wrapper
						.swiper-slide
							a(href="#")
								img(src="img/brand1.png", alt="")
						.swiper-slide
							a(href="#")
								img(src="img/brand2.png", alt="")
						.swiper-slide
							a(href="#")
								img(src="img/brand3.png", alt="")
						.swiper-slide
							a(href="#")
								img(src="img/brand4.png", alt="")
						.swiper-slide
							a(href="#")
								img(src="img/brand5.png", alt="")
						.swiper-slide
							a(href="#")
								img(src="img/brand6.png", alt="")
				.swiper-arr
					.swiper-btn-prev.horiz-nav
					.swiper-btn-next.horiz-nav
			.index-info
				h2 Интернет-магазин детских товаров в Тюмени
				p Добро пожаловать на наш сайт!<br><br>Наверняка каждый родитель прекрасно осведомлен о том, насколько важно обеспечить своего малыша самыми необходимыми вещами. На сегодняшний момент существует масса разнообразных новинок для малышей, которые сделают комфортной жизнь не только ребенка, но и мамочки. Мы предлагаем детские товары самых различных категорий:
				ul
					li
						a(href="#") Питание
					li
						a(href="#") Посуда
					li
						a(href="#") Подгузники
				ul
					li
						a(href="#") Предметы гигиены
					li
						a(href="#") Детская косметика
					li
						a(href="#") Безвредную бытовую химию;
				ul
					li
						a(href="#") Соски, прорезыватели для зубок;
					li
						a(href="#") Детская одежда
					li
						a(href="#") Белье для беременных женщин и кормящих
				h3 Преимущества покупки детских товаров у нас
				p Онлайн-магазин «Берегите Чудо» - это команда настоящих профессионалов, которая делает свою работу быстро и качественно. Сразу же после оформления заказа мы приступаем к сбору посылки. Наши специалисты делают все возможное для того, чтобы донести потребителю самые качественные товары для мамочек и их малышей.
				.note
					p 
						strong Уважаемые покупатели!<br>
						| Предложение не является публичной офертой. Цены в каталоге могут отличаться от действующих цен, о чем в момент подтверждения заказа продавец обязан уведомить покупателя. Сроки годности товара и гарантийные сроки также доводятся до сведения покупателя в момент подтверждения заказа.<br><br> Все товары сертифицированы и по желанию покупателя могут быть предъявлены в момент передачи заказа.




block inlineScripts