extends _layout
block content
	main.main-content.cf
		.container
			.breadcrumbs
				.breadcrumbs__inner
					a(href="#") Главная
					span.separator >
					span Это интересно
				h2.page-title Это интересно
			ul.interesting__list
				li.cf
					.inner
						p.heading(style="color: #ff738d;") Питание
						a(href="#" style="background-color: #ff738d;") Подробнее
				li.cf
					.inner
						p.heading(style="color: #00a4df;") Психология
						a(href="#" style="background-color: #00a4df;") Подробнее
				li.cf
					.inner
						p.heading(style="color: #92de00;") Видеоматериалы
						a(href="#" style="background-color: #92de00;") Подробнее
			.page-description
				h3 Интернет-магазин детских товаров в Тюмени
				p Добро пожаловать на наш сайт!<br><br>Наверняка каждый родитель прекрасно осведомлен о том, насколько важно обеспечить своего малыша самыми необходимыми вещами. На сегодняшний момент существует масса разнообразных новинок для малышей, которые сделают комфортной жизнь не только ребенка, но и мамочки. Мы предлагаем детские товары самых различных категорий:



block inlineScripts