extends _layout
block content
	main.main-content.cf
		.container
			.breadcrumbs
				.breadcrumbs__inner
					a(href="#") Главная
					span.separator >
					a(href="#") Это интересно
					span.separator >
					a(href="#") Питание
					span.separator >
					span Первый прикорм: как сделать всё правильно?
				h2.page-title Первый прикорм: как сделать всё правильно?
			.single-content
				img.alignleft(src="img/single-img.jpg", alt="")
				h4 Размер бонусов:
				p К 4–6 месяцам у ребенка возрастает потребность в дополнительной энергии, витаминах и минеральных микроэлементах. Кроме того, прикорм приучает ребенка к восприятию более плотной пищи, развивает жевание, стимулирует ферментные системы желудочно-кишечного тракта.  Ранее 4 месяцев организм ребенка физиологически не подготовлен к восприятию новой плотной пищи. При аллергических реакциях, например на белки коровьего молока, прикорм следует вводить с 6 месяцев.
				h4 Правила первого прикорма:
				p прикорм дают детям перед кормлением грудью (исключения составляют соки и фруктовые пюре, которые дают после кормления), тогда проголодавшийся ребенок, скорее всего, отнесется к пище положительно. Кроме того, новое блюдо лучше предложить в первой половине дня, чтобы проследить за состоянием малыша в течение всего дня;
				ul
					li Основное правило прикорма - постепенность и последовательность введения новых продуктов. Новый вид прикорма вводят после полной адаптации к предыдущему;
					li В последнее время при естественном вскармливании введение прикорма рекомендуют при хорошей прибавке веса с 6 месячного возраста;
					li Начинают давать прикорм с 1/4 - 1/2 ч. л. и постепенно (в течение 1 недели) доводят объем прикорма до нужного в данном возрасте. Не увеличивайте количество прикорма больше рекомендованной нормы;
					li Прикорм дается в теплом виде, ложкой (а не через соску), в положении ребенка сидя. Нецелесообразно давать в одно кормление 2 плотных или 2 жидких блюда прикорма;
					li Не дают один и тот же вид прикорма 2 раза в день;
					li Прикармливать новым блюдом только в утренние часы, что позволит проследить за реакцией организма. Важно особое внимание в течение суток уделять общему состоянию ребенка: цвету кожи, характеру стула (цвету, запаху, консистенции) и поведению;
					li Новый продукт нельзя вводить, если ребенок не здоров  или во время проведения профилактических прививок;
					li Основное правило прикорма - постепенность и последовательность введения новых продуктов. Новый вид прикорма вводят после полной адаптации к предыдущему;
					li В последнее время при естественном вскармливании введение прикорма рекомендуют при хорошей прибавке веса с 6 месячного возраста;
					li Начинают давать прикорм с 1/4 - 1/2 ч. л. и постепенно (в течение 1 недели) доводят объем прикорма до нужного в данном возрасте. Не увеличивайте количество прикорма больше рекомендованной нормы;
					li Прикорм дается в теплом виде, ложкой (а не через соску), в положении ребенка сидя. Нецелесообразно давать в одно кормление 2 плотных или 2 жидких блюда прикорма;
					li Не дают один и тот же вид прикорма 2 раза в день;
					li Ранее введение новых продуктов – это риск развития аллергических реакций. Помимо этого, в таких случаях у ребенка может возникнуть и непереносимость тех или иных продуктов питания. Чрезмерное количество жира и углеводов в ежедневном меню может привести к развитию ожирения. Позднее введение новых продуктов – это в свою очередь риск  к отставанию как в психическом, так и в физическом развитии, также у малыша может развиться белково-калорийная недостаточность. Очень важно обратить внимание и на состав меню: однообразный рацион повышает риск развития весьма разнообразных дефицитных состояний. В список таких состояний можно  занести: железодефицитную анемию, гиповитаминоз, рахит и гипотрофию.
					li Ни в коем случае не давайте до года бульоны, так как в их состав входит достаточно большое количество пуриновых оснований (органических природных соединений), которым свойственно оказывать отрицательное воздействие на работу не до конца созревших почек. Творог категорически запрещено вводить в рацион малыша, если ему еще нет полугода.
					p(style="text-align:right; color: #00a4df")
						strong
							em Автор: врач гастроэнтеролог-гепатолог Шишкина-Казанцева Алёна Алексеевна.
			.related-posts
				h2 Похожие статьи
				ul.related__list
					li
						.img-wrap
							img(src="img/interesting-cat.jpg", alt="")
						a.title(href="#") Первый прикорм: как сделать всё правильно?
						a.full-link(href="#")
					li
						.img-wrap
							img(src="img/interesting2-cat.jpg", alt="")
						a.title(href="#") Питание ребенка от 1 года до 3 лет: что можно, что нельзя, и почему детская еда лучше взрослой
						a.full-link(href="#")
					li
						.img-wrap
							img(src="img/interesting3-cat.jpg", alt="")
						a.title(href="#") Правда и мифы о пользе молока для детей
						a.full-link(href="#")
			.page-description
				h3 Интернет-магазин детских товаров в Тюмени
				p Добро пожаловать на наш сайт!<br><br>Наверняка каждый родитель прекрасно осведомлен о том, насколько важно обеспечить своего малыша самыми необходимыми вещами. На сегодняшний момент существует масса разнообразных новинок для малышей, которые сделают комфортной жизнь не только ребенка, но и мамочки. Мы предлагаем детские товары самых различных категорий:



block inlineScripts