extends _layout
block content
	main.main-content.cf.item-page
		.container
			.breadcrumbs
				.breadcrumbs__inner
					a(href="#") Главная
					span.separator >
					a(href="#") Подгузники
					span.separator >
					a(href="#") Подгузники
					span.separator >
					span Подгузники Pampers Premium Care 3 (5-9 кг) 120 шт.
				h2.page-title Подгузники Pampers Premium Care 3 (5-9 кг) 120 шт.
					span.articule Артикул: 224916
			.item-row.cf
				aside.slider-side
					.swiper-container.item-slider
						.swiper-wrapper
							.swiper-slide
								span.discount Скидка 25%
								i.to-fav
								i.zoom
								
								a.full-link(href="img/item-slide.jpg")
									img(src="img/item-slide.jpg", alt="")
							.swiper-slide
								span.discount Скидка 15%
								i.to-fav
								i.zoom
								
								a.full-link(href="img/item-slide.jpg")
									img(src="img/item-slide.jpg", alt="")
							.swiper-slide
								span.discount Скидка 25%
								i.to-fav
								i.zoom
								
								a.full-link(href="img/item-slide.jpg")
									img(src="img/item-slide.jpg", alt="")
							.swiper-slide
								span.discount Скидка 15%
								i.to-fav
								i.zoom
								
								a.full-link(href="img/item-slide.jpg")
									img(src="img/item-slide.jpg", alt="")
							
					.swiper-container.item-slider__thumbs
						.swiper-wrapper
							.swiper-slide(style="background-image: url(img/item-thumb.jpg)")
							.swiper-slide(style="background-image: url(img/item-thumb2.jpg)")
							.swiper-slide(style="background-image: url(img/item-thumb3.jpg)")
							.swiper-slide(style="background-image: url(img/item-thumb2.jpg)")
				.content-side
					p.descr Подгузники Pampers Premium - наши лучшие подгузники, которые обеспечивают защиту кожи “5 звезд” и дарят непревзойденную мягкость шелка. Это первые и единственные подгузники с впитывающими каналами, обеспечивающими до 12 часов сухости. Инновационная система впитывающих каналов позволяет равномерно распределять влагу, а материалы с особыми дышащими порами поддерживают здоровый микроклимат.
					ul.descr-list
						li.about-delivery
							a(href="#") О Доставке
						li.about-pay
							a(href="#") Оплата
						li.about-in-stock
							a(href="#") Наличие в магаизнах
					ul.item-repost
						li.fav-btn
							a.btn(href="#")
								i.fav
								| Добавить в избранное
						li.social-col
							p.heading Рассказать друзьям:
							ul
								li.vk
									a(href="#")
								li.inst
									a(href="#")
								li.fb
									a(href="#")
								li.gplus
									a(href="#")
					.price-row
						.price-row__top
							p.heading Стоимость
						.price-row__bottom
							form
								span.current-price.current-value 1620 руб.
									span.old-price.old-value 1799 руб.
								i.incr
								input(type="text")
								i.equal
								span.all-price.current-value 14 580 руб.
									span.old-all-price.old-value 16 191 руб.
								input(type="submit" value="Купить")
						.bonuses-row
							p Будет начисленно бонусов за покупку:
								strong 18
			.item-tabs
				ul.tabs-title
					li.detailed-descr.active
						a(href="#") Подробное описание
					li.reviews
						a(href="#") Отзывы
					li.in-stock-descr
						a(href="#") Наличие в магазинах
				.item-tabs__inner
					.item-tab.cf.active
						.all-chars
							h3 Общие характеристики
							ul
								li Возраст от
									span 0 месяцев
								li Вес
									span 3,5 кг
								li Габариты, Д/Ш/В
									span 43/26/28
								li Страна производитель
									span Польша
								li Артикул
									span 224916
								li Артикул производителя
									span PA-81306507
								li Торговая марка
									span Pampers
						.all-descr
							h3 Описание
							p Подгузники Pampers Premium - наши лучшие подгузники, которые обеспечивают защиту кожи “5 звезд” и дарят непревзойденную мягкость шелка. Это первые и единственные подгузники с впитывающими каналами, обеспечивающими до 12 часов сухости. Инновационная система впитывающих каналов позволяет равномерно распределять влагу, а материалы с особыми дышащими порами поддерживают здоровый микроклимат. Боковинки подгузников хорошо тянутся, обеспечивая ребенку максимальный комфорт и свободу движений, а также защищая подгузник от протеканий.
							h4 Особенности:
							ul
								li Впитывающий слой с инновационной системой впитывающих каналов помогает оставаться сухим целый день.
								li Сверхэластичные мягкие боковинки обеспечивают защиту от протеканий.
								li Нежная ромбовидная текстура внутреннего слоя создает ощущение первоклассной мягкости и воздушности.
								li "Дышащие" материалы обеспечивают естественную циркуляцию воздуха, снижая уровень испарений внутри подгузника, и, как следствие, уменьшая риск возникновения дерматита .
								li Индикатор влаги подскажет маме когда пора сменить подгузник.
								li Специальный вырез в передней части подгузника позволяет пупочной ране "дышать" и оставаться сухой, благодаря чему пупок лучше заживает.
								li В составе пропитки: вазелин, стеариловый спирт, экстракт алоэ, жидкий вазелин/вазелиновое масло.
					.item-tab.cf
					.item-tab.cf.in-stock-tab
						h3 Адрес
						p.heading г. Тюмень
						ul
							li 
								span.address ул.Домостроителей, д.36
								span.in-stock В наличии 5 шт.
							li 
								span.address ул.Домостроителей, д.36
								span.in-stock В наличии 9 шт.
							li 
								span.address ул.Домостроителей, д.36
								span.in-stock.not Отсутствует
						p.heading г. Москва
						ul
							li 
								span.address ул.Домостроителей, д.36
								span.in-stock В наличии 522 шт.
							li 
								span.address ул.Домостроителей, д.36
								span.in-stock.not Отсутствует
							li 
								span.address ул.Домостроителей, д.36
								span.in-stock.not Отсутствует




			.new-row
				h2 Популярное
				.swiper-container.horiz-slider
					.swiper-wrapper
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								span.old-price 1799 руб.
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
							.discount-notify Скидка
								span.discount-size 25%
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec2.jpg", alt="")
							.title 
								a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								span.old-price 1799 руб.
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
							.discount-notify Скидка
								span.discount-size 10%
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec2.jpg", alt="")
							.title 
								a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
						.swiper-slide
							.img-wrap
								a(href="#")
									img(src="img/rec1.jpg", alt="")
							.title 
								a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
							.price
								| 1620 руб.
							a.buy(href="#") Купить
								span.basket
				.swiper-arr
					.swiper-btn-prev.horiz-nav
					.swiper-btn-next.horiz-nav
				
			.page-description
				h3 Интернет-магазин детских товаров в Тюмени
				p Добро пожаловать на наш сайт!<br><br>Наверняка каждый родитель прекрасно осведомлен о том, насколько важно обеспечить своего малыша самыми необходимыми вещами. На сегодняшний момент существует масса разнообразных новинок для малышей, которые сделают комфортной жизнь не только ребенка, но и мамочки. Мы предлагаем детские товары самых различных категорий:




block inlineScripts