extends _layout
block content
	main.main-content.cf.item-page
		.container
			.breadcrumbs
				.breadcrumbs__inner
				h2.page-title Личный кабинет
			.lk-page.cf
				aside.lk__menu
					ul
						li
							a.active(href="#") Личные данные
						li
							a(href="#") Мои дети
						li
							a(href="#") История заказов
						li
							a(href="#") Избранное
						li
							a(href="#") Бонусная карта
						li
							a(href="#") Поменять пароль
				.lk__content
					.lk-tab.personal-data-tab.active
						.personal-tab-row
							.personal-tab-col
								label.choose-photo(style="background-image: url(img/ava-default.png)")
									input(type="file")
									i.photo-edit
							.personal-tab-col
								ul
									li.name ФИО
										span Анна Борисовна
									li Дата рождения
										span 6 марта 1986 г.
									li Пол
										span Женский
							.personal-tab-col
								ul
									li Телефон
										span +7 931 999-88-77
									li Доп. телефон
										span +7 999 834-08-99
									li E-mail
										span annamama@mail.ru
						.personal-tab-row.last-row
							.personal-tab-col
								ul
									li Адреса доставки
										span 1. г. Тюмень, ул. Домостроителей, д.36
										span 2. г. Тюмень, ул. Ленина, д.4
								a.btn.add-address(href="#") Добавить адрес
							.personal-tab-col
								ul
									li Любимый магазин
										span 1. г. Тюмень, ул. Домостроителей, д.35
								a.btn.change-fav-shop(href="#") изменить
					.lk-tab.childs
						ul.childs-list
							li
								.child-name 1 Ребенок: 
									strong Анюта
								.child-gender.inline-block Пол: девочка
								.child-birthday.inline-block День рождения: 21 декабря 2013 г.
							li
								.child-name 2 Ребенок: 
									strong Анюта
								.child-gender.inline-block Пол: девочка
								.child-birthday.inline-block День рождения: 21 декабря 2013 г.
						.add-child
							p.heading Добавить ребенка
							form
								input(type="text" placeholder="Имя")
								select.select-child-gender
									option(value="Пол") Пол
									option(value="Пол") Мальчик
									option(value="Пол") Девочка
								input.date-birthday(type="text" placeholder="Дата рождения")
								input.btn(type="submit" value="Добавить ребенка")
					.lk-tab.history-tab
						.actual-orders
							p.heading Актуальные заказы
							table
								tr
									th №
									th Дата заказа
									th Товары
									th Общая сумма
									th Статус
									th Действия
								tr
									td 12234
									td 06.10.2016 г.
									td Подгузники Pampers Premium Care 1 (2-5 кг) 88 шт. x4 | Крем-суп Hipp овощной | Подгузники Pampers Premium Care 1 (2-5 кг) 88 шт. x12
									td 12 010 руб.
									td.in-progress В обработке
									td
										a.btn.cancel-order(href="#") ОТменить
								tr
									td 12234
									td 06.10.2016 г.
									td Подгузники Pampers Premium Care 1 (2-5 кг) 88 шт. x4 | Крем-суп Hipp овощной | Подгузники Pampers Premium Care 1 (2-5 кг) 88 шт. x12
									td 12 010 руб.
									td.in-progress В обработке
									td
										a.btn.cancel-order(href="#") ОТменить
								tr
									td 12234
									td 06.10.2016 г.
									td Подгузники Pampers Premium Care 1 (2-5 кг) 88 шт. x4 | Крем-суп Hipp овощной | Подгузники Pampers Premium Care 1 (2-5 кг) 88 шт. x12
									td 12 010 руб.
									td.in-progress В обработке
									td
										a.btn.cancel-order(href="#") ОТменить
						.passed-orders
							p.heading История заказов
							table
								tr
									th №
									th Дата заказа
									th Товары
									th Общая сумма
									th Статус
									th Действия
								tr
									td 12234
									td 06.10.2016 г.
									td Крем-суп Hipp овощной | Подгузники Pampers Premium Care 1 (2-5 кг) 88 шт. x12
									td 12 010 руб.
									td.done Выполнен
									td
										a.btn.repeat-order(href="#") повторить
								tr
									td 12234
									td 06.10.2016 г.
									td Подгузники Pampers Premium Care 1 (2-5 кг) 88 шт. x4 
									td 12 010 руб.
									td.canceled Отменен
									td
										a.btn.repeat-order(href="#") повторить
								tr
									td 12234
									td 06.10.2016 г.
									td Крем-суп Hipp овощной | Подгузники Pampers Premium Care 1 (2-5 кг) 88 шт. x12
									td 12 010 руб.
									td.done Выполнен
									td
										a.btn.repeat-order(href="#") повторить
								tr
									td 12234
									td 06.10.2016 г.
									td Подгузники Pampers Premium Care 1 (2-5 кг) 88 шт. x4 
									td 12 010 руб.
									td.canceled Отменен
									td
										a.btn.repeat-order(href="#") повторить
					.lk-tab.fav-tab
						.horiz-row
							.swiper-slide
								.img-wrap
									a(href="#")
										img(src="img/rec1.jpg", alt="")
								.title 
									a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
								.price
									span.old-price 1799 руб.
									| 1620 руб.
								a.buy(href="#") Купить
									span.basket
								.discount-notify Скидка
									span.discount-size 25%
							.swiper-slide
								.img-wrap
									a(href="#")
										img(src="img/rec2.jpg", alt="")
								.title 
									a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
								.price
									| 1620 руб.
								a.buy(href="#") Купить
									span.basket
							.swiper-slide
								.img-wrap
									a(href="#")
										img(src="img/rec1.jpg", alt="")
								.title 
									a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
								.price
									span.old-price 1799 руб.
									| 1620 руб.
								a.buy(href="#") Купить
									span.basket
								.discount-notify Скидка
									span.discount-size 10%
							.swiper-slide
								.img-wrap
									a(href="#")
										img(src="img/rec2.jpg", alt="")
								.title 
									a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
								.price
									| 1620 руб.
								a.buy(href="#") Купить
									span.basket
							.swiper-slide
								.img-wrap
									a(href="#")
										img(src="img/rec1.jpg", alt="")
								.title 
									a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
								.price
									| 1620 руб.
								a.buy(href="#") Купить
									span.basket
							.swiper-slide
								.img-wrap
									a(href="#")
										img(src="img/rec1.jpg", alt="")
								.title 
									a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
								.price
									span.old-price 1799 руб.
									| 1620 руб.
								a.buy(href="#") Купить
									span.basket
								.discount-notify Скидка
									span.discount-size 25%
							.swiper-slide
								.img-wrap
									a(href="#")
										img(src="img/rec2.jpg", alt="")
								.title 
									a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
								.price
									| 1620 руб.
								a.buy(href="#") Купить
									span.basket
							.swiper-slide
								.img-wrap
									a(href="#")
										img(src="img/rec1.jpg", alt="")
								.title 
									a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
								.price
									span.old-price 1799 руб.
									| 1620 руб.
								a.buy(href="#") Купить
									span.basket
								.discount-notify Скидка
									span.discount-size 10%
					.lk-tab.bonus-tab
						.bonus-tab__inner
							.number-side
								p.number Номер вашей бонусной карты 
									strong 1112 3456 8981 0001
								p.balance Ваш бонусный баланс состовляет
									span 4987
								.history
									p.heading История начисления баллов
									table
										tr
											th №
											th Дата заказа
											th Общая сумма
											th Действия
										tr
											td 12234
											td 06.10.2016 г.
											td +12 балов
											td
												a.btn(href="#") Подробно

										tr
											td 122
											td 06.10.2016 г.
											td +12 балов
											td
												a.btn(href="#") Подробно
										tr
											td 1
											td 06.10.2016 г.
											td +12 балов
											td
												a.btn(href="#") Подробно
							.sert-side
								.my-cart
									p 1112 3456 8981 0001
								.active-cart
									p.heading Активировать подарочный сертификат
									a.gift-code.btn(href="#") 
										i.gift
										| Ввести код


					.lk-tab.change-pass
						form
							input.pass-inp(type="password" placeholder="Старый пароль")
							input.pass-inp(type="password" placeholder="Новый пароль")
							input.pass-inp(type="password" placeholder="Повторите пароль")
							input#show-pass(type="checkbox")
							label(for="show-pass") Показать вводимые знаки
							input.btn(type="submit" value="Сменить пароль")






block inlineScripts