extends _layout
block content
	main.main-content.cf.stock
		.container
			.breadcrumbs
				.breadcrumbs__inner
					a(href="#") Главная
					span.separator >
					a(href="#") Акции
					span.separator >
					span Питание
				h2.page-title Питание
			ul.interesting-cat__list
				li
					.img-wrap
						img(src="img/interesting-cat.jpg", alt="")
					a.title(href="#") Первый прикорм: как сделать всё правильно?
					p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a.view-more(href="#") Подробнее
					a.full-link(href="#")
				li
					.img-wrap
						img(src="img/interesting2-cat.jpg", alt="")
					a.title(href="#") Питание ребенка от 1 года до 3 лет: что можно, что нельзя, и почему детская еда лучше взрослой
					p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a.view-more(href="#") Подробнее
					a.full-link(href="#")
				li
					.img-wrap
						img(src="img/interesting3-cat.jpg", alt="")
					a.title(href="#") Правда и мифы о пользе молока для детей
					p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a.view-more(href="#") Подробнее
					a.full-link(href="#")
				li
					.img-wrap
						img(src="img/interesting-cat.jpg", alt="")
					a.title(href="#") Молочные продукты «Чудо детки» созданы для активных ребят
					p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a.view-more(href="#") Подробнее
					a.full-link(href="#")
				li
					.img-wrap
						img(src="img/interesting2-cat.jpg", alt="")
					a.title(href="#") «Агуша» с витамином К2 спешит на помощь мамам
					p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a.view-more(href="#") Подробнее
					a.full-link(href="#")
				li
					.img-wrap
						img(src="img/interesting3-cat.jpg", alt="")
					a.title(href="#") Как выбрать лучшее детское питание?
					p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a.view-more(href="#") Подробнее
					a.full-link(href="#")
				li
					.img-wrap
						img(src="img/interesting-cat.jpg", alt="")
					a.title(href="#") Первый прикорм: как сделать всё правильно?
					p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a.view-more(href="#") Подробнее
					a.full-link(href="#")
				li
					.img-wrap
						img(src="img/interesting2-cat.jpg", alt="")
					a.title(href="#") Первый прикорм: как сделать всё правильно?
					p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a.view-more(href="#") Подробнее
					a.full-link(href="#")
				li
					.img-wrap
						img(src="img/interesting3-cat.jpg", alt="")
					a.title(href="#") Первый прикорм: как сделать всё правильно?
					p.description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
					a.view-more(href="#") Подробнее
					a.full-link(href="#")
			.pagination-wrap
				a.prev.pagination-arr(href="#") 
					span < 
					| Предедыщая
				span 1
				a(href="#") 2
				a(href="#") 3
				a(href="#") 4
				a(href="#") 5
				span ...
				a(href="#") 21
				a(href="#") 22
				a(href="#") 23
				a.next.pagination-arr(href="#") Следующая 
					span >
			.page-description
				h3 Интернет-магазин детских товаров в Тюмени
				p Добро пожаловать на наш сайт!<br><br>Наверняка каждый родитель прекрасно осведомлен о том, насколько важно обеспечить своего малыша самыми необходимыми вещами. На сегодняшний момент существует масса разнообразных новинок для малышей, которые сделают комфортной жизнь не только ребенка, но и мамочки. Мы предлагаем детские товары самых различных категорий:



block inlineScripts