extends _layout
block content
	main.main-content.cf.stock-item
		.container
			.breadcrumbs
				.breadcrumbs__inner
					a(href="#") Главная
					span.separator >
					a(href="#") Акции
					span.separator >
					span 5-кратные бонусы при покупке кукол BARBIE
				h2.page-title 5-кратные бонусы при покупке кукол BARBIE
			.single-content
				img.alignleft(src="img/stock-item.png", alt="")
				p
					strong Размер бонусов:<br>
					| К 4–6 месяцам у ребенка возрастает потребность в дополнительной энергии, витаминах и минеральных микроэлементах. Кроме того, прикорм приучает ребенка к восприятию более плотной пищи, развивает жевание, стимулирует ферментные системы желудочно-кишечного тракта.  Ранее 4 месяцев организм ребенка физиологически не подготовлен к восприятию новой плотной пищи. При аллергических реакциях, например на белки коровьего молока, прикорм следует вводить с 6 месяцев.
				p
					strong Правила первого прикорма:<br>
					| прикорм дают детям перед кормлением грудью (исключения составляют соки и фруктовые пюре, которые дают после кормления), тогда проголодавшийся ребенок, скорее всего, отнесется к пище положительно. Кроме того, новое блюдо лучше предложить в первой половине дня, чтобы проследить за состоянием малыша в течение всего дня;<br>
				p Ранее введение новых продуктов – это риск развития аллергических реакций. Помимо этого, в таких случаях у ребенка может возникнуть и непереносимость тех или иных продуктов питания. Чрезмерное количество жира и углеводов в ежедневном меню может привести к развитию ожирения. Позднее введение новых продуктов – это в свою очередь риск  к отставанию как в психическом, так и в физическом развитии, также у малыша может развиться белково-калорийная недостаточность. Очень важно обратить внимание и на состав меню: однообразный рацион повышает риск развития весьма разнообразных дефицитных состояний. В список таких состояний можно  занести: железодефицитную анемию, гиповитаминоз, рахит и гипотрофию.
				p Ни в коем случае не давайте до года бульоны, так как в их состав входит достаточно большое количество пуриновых оснований (органических природных соединений), которым свойственно оказывать отрицательное воздействие на работу не до конца созревших почек. Творог категорически запрещено вводить в рацион малыша, если ему еще нет полугода.
			h2 Товары участвующие в акции
			.horiz-row
				.swiper-slide
					.img-wrap
						a(href="#")
							img(src="img/rec1.jpg", alt="")
					.title 
						a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
					.price
						span.old-price 1799 руб.
						| 1620 руб.
					a.buy(href="#") Купить
						span.basket
					.discount-notify Скидка
						span.discount-size 25%
				.swiper-slide
					.img-wrap
						a(href="#")
							img(src="img/rec2.jpg", alt="")
					.title 
						a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
					.price
						| 1620 руб.
					a.buy(href="#") Купить
						span.basket
				.swiper-slide
					.img-wrap
						a(href="#")
							img(src="img/rec1.jpg", alt="")
					.title 
						a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
					.price
						span.old-price 1799 руб.
						| 1620 руб.
					a.buy(href="#") Купить
						span.basket
					.discount-notify Скидка
						span.discount-size 10%
				.swiper-slide
					.img-wrap
						a(href="#")
							img(src="img/rec2.jpg", alt="")
					.title 
						a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
					.price
						| 1620 руб.
					a.buy(href="#") Купить
						span.basket
				.swiper-slide
					.img-wrap
						a(href="#")
							img(src="img/rec1.jpg", alt="")
					.title 
						a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
					.price
						| 1620 руб.
					a.buy(href="#") Купить
						span.basket
				.swiper-slide
					.img-wrap
						a(href="#")
							img(src="img/rec1.jpg", alt="")
					.title 
						a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
					.price
						span.old-price 1799 руб.
						| 1620 руб.
					a.buy(href="#") Купить
						span.basket
					.discount-notify Скидка
						span.discount-size 25%
				.swiper-slide
					.img-wrap
						a(href="#")
							img(src="img/rec2.jpg", alt="")
					.title 
						a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
					.price
						| 1620 руб.
					a.buy(href="#") Купить
						span.basket
				.swiper-slide
					.img-wrap
						a(href="#")
							img(src="img/rec1.jpg", alt="")
					.title 
						a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
					.price
						span.old-price 1799 руб.
						| 1620 руб.
					a.buy(href="#") Купить
						span.basket
					.discount-notify Скидка
						span.discount-size 10%
				.swiper-slide
					.img-wrap
						a(href="#")
							img(src="img/rec2.jpg", alt="")
					.title 
						a(href="#") Подгузники Libero Comfort 4 (7-14 кг) 120 шт.
					.price
						| 1620 руб.
					a.buy(href="#") Купить
						span.basket
				.swiper-slide
					.img-wrap
						a(href="#")
							img(src="img/rec1.jpg", alt="")
					.title 
						a(href="#") Подгузники Huggies Ultra Comfort для девочек 5 (12-22 кг)
					.price
						| 1620 руб.
					a.buy(href="#") Купить
						span.basket
			.related-posts
				h2 Похожие акции
				ul.related__list
					li
						.img-wrap
							img(src="img/interesting-cat.jpg", alt="")
						a.title(href="#") Первый прикорм: как сделать всё правильно?
						a.full-link(href="#")
					li
						.img-wrap
							img(src="img/interesting2-cat.jpg", alt="")
						a.title(href="#") Питание ребенка от 1 года до 3 лет: что можно, что нельзя, и почему детская еда лучше взрослой
						a.full-link(href="#")
					li
						.img-wrap
							img(src="img/interesting3-cat.jpg", alt="")
						a.title(href="#") Правда и мифы о пользе молока для детей
						a.full-link(href="#")
			.page-description
				h3 Интернет-магазин детских товаров в Тюмени
				p Добро пожаловать на наш сайт!<br><br>Наверняка каждый родитель прекрасно осведомлен о том, насколько важно обеспечить своего малыша самыми необходимыми вещами. На сегодняшний момент существует масса разнообразных новинок для малышей, которые сделают комфортной жизнь не только ребенка, но и мамочки. Мы предлагаем детские товары самых различных категорий:



block inlineScripts